<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}

    {# 百度统计 #}
    <script>
        (function () {
            let hm = document.createElement('script');
            hm.src = 'https://hm.baidu.com/hm.js?87b0b32534fb01f816ace67eeef3ee0a';
            let s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    {# 51.LA 网站统计 #}
    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({id: 'KDw2F6OnLoNDNl4L', ck: 'KDw2F6OnLoNDNl4L'})</script>

    {# Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BQSG69LJYP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-BQSG69LJYP');
    </script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
