<div lang="zh-cn">
    <h1 class="title">方舟像素字体 / Ark Pixel Font</h1>
    <p class="content">★ 开源的泛中日韩像素字体 ★</p>
</div>

<p class="content" lang="zh-cn">
    Windows 中文字型范例 1234567890
    <br>
    Innovation in China 中国智造，慧及全球 0123456789
</p>

<p class="content" lang="zh-tr">
    視野無限廣，窗外有藍天
    <br>
    Windows 興國安邦，巨擘八方！
    <br>
    微風迎客，軟語伴茶
</p>

<p class="content" lang="ja">
    Windowsでコンピュータの世界が広がります。 1234567890
</p>

<p class="content" lang="ko">
    다람쥐 헌 쳇바퀴에 타고파. 1234567890
    <br>
    Windows가 지원하는 한글 글꼴 1234567890
</p>

<p class="content" lang="zh-cn">
    汉体书写信息技术标准相容
    <br>
    档案下载使用界面简单
    <br>
    支援服务升级资讯专业制作
    <br>
    创意空间快速无线上网
    <br>
    ㈠㈡㈢㈣㈤㈥㈦㈧㈨㈩
    <br>
    AaBbCc ＡａＢｂＣｃ
</p>

<p class="content" lang="zh-tr">
    壹貳參肆伍陸柒捌玖拾
    <br>
    一二三四五六七八九十卄卅
    <br>
    ㄅㄆㄇㄈㄉㄊㄋㄌㄍㄎㄏㄐ
    <br>
    ㄑㄒㄓㄔㄕㄖㄗㄘㄙㄚㄛ
    <br>
    ㄜㄝㄞㄟㄠㄡㄢㄣㄤㄥㄦㄧㄨㄩ
    <br>
    兙兛兞兝兡兣嗧瓩糎
    <br>
    AaBbCc ＡａＢｂＣｃ
</p>

<p class="content" lang="ja">
    あのイーハトーヴォの
    <br>
    すきとおった風、
    <br>
    夏でも底に冷たさをもつ青いそら、
    <br>
    うつくしい森で飾られたモリーオ市、
    <br>
    郊外のぎらぎらひかる草の波。
    <br>
    祇辻飴葛蛸鯖鰯噌庖箸
    <br>
    ABCDEFGHIJKLM
    <br>
    abcdefghijklm
    <br>
    1234567890
</p>

<p class="content" lang="ko">
    동해물과 백두산이 마르고
    <br>
    닳도록 하느님이 보우하사
    <br>
    天地玄黃宇宙洪荒日月盈仄
    <br>
    ㉠⒝⑶❹あア※♥♪⅜‘”
    <br>
    ABcdEFgh 1234567890
</p>

<p class="content">
    <span lang="en">
        The I Can Eat Glass Project.
    </span>
    <br>
    <span lang="zh-cn">
        我能吞下玻璃而不伤身体。
    </span>
    <br>
    <span lang="zh-tr">
        我能吞下玻璃而不傷身體。
    </span>
</p>

<p class="content" lang="zh-cn">
    氢氦锂铍硼碳氮氧氟氖钠镁铝硅磷硫氯氩钾钙钪钛钒铬锰铁钴镍铜锌镓锗砷硒溴氪铷锶钇锆铌钼锝钌铑钯银镉铟锡锑碲碘氙铯钡镧铈镨钕钷钐铕钆铽镝钬铒铥镱镥铪钽钨铼锇铱铂金汞铊铅铋钋砹氡钫镭锕钍镤铀镎钚镅锔锫锎锿镄钔锘铹𬬻𬭊𬭳𬭛𬭶鿏𫟼𬬭鿔鿭𫓧镆𫟷鿬鿫
</p>

<p class="content" lang="zh-tr">
    氫氦鋰鈹硼碳氮氧氟氖鈉鎂鋁硅磷硫氯氬鉀鈣鈧鈦釩鉻錳鐵鈷鎳銅鋅鎵鍺砷硒溴氪銣鍶釔鋯鈮鉬鍀釕銠鈀銀鎘銦錫銻碲碘氙銫鋇鑭鈰鐠釹鉕釤銪釓鋱鏑鈥鉺銩鐿鑥鉿鉭鎢錸鋨銥鉑金汞鉈鉛鉍釙砹氡鈁鐳錒釷鏷鈾鎿鈈鎇鋦錇鐦鎄鐨鍆鍩鐒鑪𨧀𨭎𨨏𨭆䥑鐽錀鎶鉨鈇鏌鉝鿬鿫
</p>

<p class="content" lang="en">
    ★☆☎☏⚑⚐☀☼♚♛♜♝♞♟♔♕♖♗♘♙♠♡♢♣♤♥♦♧
    <br>
    ☺☹⚓⚔✈☯♂♀♩♪♫♬⇦⇧⇨⇩☜☝☞☟
</p>

<p class="content" lang="en">
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
</p>

<p class="content" lang="en">
    Ciallo～(∠・ω< )⌒☆
</p>

<div class="content" lang="en">
    <pre>
　　　　 ／＞ — フ
　　　　 | 　_　 _|
　　　 ／` ミ＿꒳ノ
　　  /　　　　  |
　　 /　 ヽ　　 ﾉ
　　│　　|　|　|
／￣|　　 |　|　|
| (￣ヽ＿_ヽ_)__)
＼二つ</pre>
</div>

<div lang="zh-cn">
    <h1 class="title">沁园春·雪</h1>
    <p class="content">毛泽东</p>
    <p class="content">
        北国风光，千里冰封，万里雪飘。
        <br>
        望长城内外，惟余莽莽；大河上下，顿失滔滔。
        <br>
        山舞银蛇，原驰蜡象，欲与天公试比高。
        <br>
        须晴日，看红装素裹，分外妖娆。
        <br>
        江山如此多娇，引无数英雄竞折腰。
        <br>
        惜秦皇汉武，略输文采；唐宗宋祖，稍逊风骚。
        <br>
        一代天骄，成吉思汗，只识弯弓射大雕。
        <br>
        俱往矣，数风流人物，还看今朝。
    </p>
</div>

<div lang="zh-tr">
    <h1 class="title">沁園春·雪</h1>
    <p class="content">毛澤東</p>
    <p class="content">
        北國風光，千裏冰封，萬裏雪飄。
        <br>
        望長城內外，惟余莽莽；大河上下，頓失滔滔。
        <br>
        山舞銀蛇，原馳蠟象，欲與天公試比高。
        <br>
        須晴日，看紅裝素裹，分外妖嬈。
        <br>
        江山如此多嬌，引無數英雄競折腰。
        <br>
        惜秦皇漢武，略輸文采；唐宗宋祖，稍遜風騷。
        <br>
        一代天驕，成吉思汗，只識彎弓射大雕。
        <br>
        俱往矣，數風流人物，還看今朝。
    </p>
</div>

<div lang="zh-cn">
    <h1 class="title">沁园春·长沙</h1>
    <p class="content">毛泽东</p>
    <p class="content">
        独立寒秋，湘江北去，橘子洲头。
        <br>
        看万山红遍，层林尽染；漫江碧透，百舸争流。
        <br>
        鹰击长空，鱼翔浅底，万类霜天竞自由。
        <br>
        怅寥廓，问苍茫大地，谁主沉浮？
        <br>
        携来百侣曾游，忆往昔峥嵘岁月稠。
        <br>
        恰同学少年，风华正茂；书生意气，挥斥方遒。
        <br>
        指点江山，激扬文字，粪土当年万户侯。
        <br>
        曾记否，到中流击水，浪遏飞舟？
    </p>
</div>

<div lang="zh-tr">
    <h1 class="title">沁園春·長沙</h1>
    <p class="content">毛澤東</p>
    <p class="content">
        獨立寒秋，湘江北去，橘子洲頭。
        <br>
        看萬山紅遍，層林盡染；漫江碧透，百舸爭流。
        <br>
        鷹擊長空，魚翔淺底，萬類霜天競自由。
        <br>
        悵寥廓，問蒼茫大地，誰主沈浮？
        <br>
        攜來百侶曾遊，憶往昔崢嶸歲月稠。
        <br>
        恰同學少年，風華正茂；書生意氣，揮斥方遒。
        <br>
        指點江山，激揚文字，糞土當年萬戶侯。
        <br>
        曾記否，到中流擊水，浪遏飛舟？
    </p>
</div>

<div lang="zh-cn">
    <h1 class="title">出师表</h1>
    <p class="content">三国·诸葛亮</p>
    <p class="content">先帝创业未半而中道崩殂，今天下三分，益州疲弊，此诚危急存亡之秋也。然侍卫之臣不懈于内，忠志之士忘身于外者，盖追先帝之殊遇，欲报之于陛下也。诚宜开张圣听，以光先帝遗德，恢弘志士之气，不宜妄自菲薄，引喻失义，以塞忠谏之路也。</p>
    <p class="content">宫中府中，俱为一体，陟罚臧否，不宜异同。若有作奸犯科及为忠善者，宜付有司论其刑赏，以昭陛下平明之理，不宜偏私，使内外异法也。</p>
    <p class="content">侍中、侍郎郭攸之、费祎、董允等，此皆良实，志虑忠纯，是以先帝简拔以遗陛下。愚以为宫中之事，事无大小，悉以咨之，然后施行，必能裨补阙漏，有所广益。</p>
    <p class="content">将军向宠，性行淑均，晓畅军事，试用于昔日，先帝称之曰能，是以众议举宠为督。愚以为营中之事，悉以咨之，必能使行阵和睦，优劣得所。</p>
    <p class="content">亲贤臣，远小人，此先汉所以兴隆也；亲小人，远贤臣，此后汉所以倾颓也。先帝在时，每与臣论此事，未尝不叹息痛恨于桓、灵也。侍中、尚书、长史、参军，此悉贞良死节之臣，愿陛下亲之信之，则汉室之隆，可计日而待也。</p>
    <p class="content">臣本布衣，躬耕于南阳，苟全性命于乱世，不求闻达于诸侯。先帝不以臣卑鄙，猥自枉屈，三顾臣于草庐之中，咨臣以当世之事，由是感激，遂许先帝以驱驰。后值倾覆，受任于败军之际，奉命于危难之间，尔来二十有一年矣。</p>
    <p class="content">先帝知臣谨慎，故临崩寄臣以大事也。受命以来，夙夜忧叹，恐托付不效，以伤先帝之明，故五月渡泸，深入不毛。今南方已定，兵甲已足，当奖率三军，北定中原，庶竭驽钝，攘除奸凶，兴复汉室，还于旧都。此臣所以报先帝而忠陛下之职分也。至于斟酌损益，进尽忠言，则攸之、祎、允之任也。</p>
    <p class="content">愿陛下托臣以讨贼兴复之效，不效，则治臣之罪，以告先帝之灵。若无兴德之言，则责攸之、祎、允等之慢，以彰其咎；陛下亦宜自谋，以咨诹善道，察纳雅言，深追先帝遗诏，臣不胜受恩感激。今当远离，临表涕零，不知所言。</p>
</div>

<div lang="zh-tr">
    <h1 class="title">出師表</h1>
    <p class="content">三國·諸葛亮</p>
    <p class="content">先帝創業未半而中道崩殂，今天下三分，益州疲弊，此誠危急存亡之秋也。然侍衞之臣不懈於內，忠志之士忘身於外者，蓋追先帝之殊遇，欲報之於陛下也。誠宜開張聖聽，以光先帝遺德，恢弘志士之氣，不宜妄自菲薄，引喻失義，以塞忠諫之路也。</p>
    <p class="content">宮中府中，俱為一體，陟罰臧否，不宜異同。若有作姦犯科及為忠善者，宜付有司論其刑賞，以昭陛下平明之理，不宜偏私，使內外異法也。</p>
    <p class="content">侍中、侍郎郭攸之、費禕、董允等，此皆良實，志慮忠純，是以先帝簡拔以遺陛下。愚以為宮中之事，事無大小，悉以咨之，然後施行，必能裨補闕漏，有所廣益。</p>
    <p class="content">將軍向寵，性行淑均，曉暢軍事，試用於昔日，先帝稱之曰能，是以眾議舉寵為督。愚以為營中之事，悉以咨之，必能使行陣和睦，優劣得所。</p>
    <p class="content">親賢臣，遠小人，此先漢所以興隆也；親小人，遠賢臣，此後漢所以傾頹也。先帝在時，每與臣論此事，未嘗不歎息痛恨於桓、靈也。侍中、尚書、長史、參軍，此悉貞良死節之臣，願陛下親之信之，則漢室之隆，可計日而待也。</p>
    <p class="content">臣本布衣，躬耕於南陽，苟全性命於亂世，不求聞達於諸侯。先帝不以臣卑鄙，猥自枉屈，三顧臣於草廬之中，諮臣以當世之事，由是感激，遂許先帝以驅馳。後值傾覆，受任於敗軍之際，奉命於危難之間，爾來二十有一年矣。</p>
    <p class="content">先帝知臣謹慎，故臨崩寄臣以大事也。受命以來，夙夜憂歎，恐託付不效，以傷先帝之明，故五月渡瀘，深入不毛。今南方已定，兵甲已足，當獎率三軍，北定中原，庶竭駑鈍，攘除姦凶，興復漢室，還於舊都。此臣所以報先帝而忠陛下之職分也。至於斟酌損益，進盡忠言，則攸之、禕、允之任也。</p>
    <p class="content">願陛下託臣以討賊興復之效，不效，則治臣之罪，以告先帝之靈。若無興德之言，則責攸之、禕、允等之慢，以彰其咎；陛下亦宜自謀，以諮諏善道，察納雅言，深追先帝遺詔，臣不勝受恩感激。今當遠離，臨表涕零，不知所言。</p>
</div>

<div lang="zh-cn">
    <h1 class="title">简体中文</h1>
    <a class="content" href="https://zh.wikipedia.org/zh-cn/%E4%BB%BB%E5%A4%A9%E5%A0%82" target="_blank">https://zh.wikipedia.org/zh-cn/%E4%BB%BB%E5%A4%A9%E5%A0%82</a>
    <p class="content">任天堂（日语：任天堂／にんてんどう）是一家主要从事电子游戏的开发、制造与发行的日本百年企业。于1889年在日本京都市创立，最初以生产花札（赌博用的手牌）起家，后续也尝试多种行业，1970年代后期投入电子游戏产业，在掌上游戏机“Game & Watch”与街机游戏《大金刚》获取商业成功后，娱乐事业也逐渐大众化而走上正途，于1983年推出家用游戏机“Family Computer”与在1985年推出游戏《超级马力欧兄弟》亦获取空前的成功，且旗下有多个著名IP，包括塞尔达传说、宝可梦和动物森友会等，为世界知名的电子游戏主机与软件开发商，亦是世界目前游戏机三大生产商之一。</p>
    <p class="content">任天堂由山内房治郎于1889年9月23日成立，最初主要是生产花札纸牌，此后一直维持此种经营方式至1960年代。此后任天堂进行了一系列业务多样化尝试，其中包括组建出租车公司、经营宾馆和出售真空吸尘器等等。1970年代，任天堂最终进入电视游戏业务，确定了作为玩具厂商的地位，并推出了“Ultra Band”、“光线枪SP”等热门商品。1980年，发售掌上游戏机“Game & Watch”，获取巨大成功。1983年，发售“Family Computer”。1985年，其在FC上推出的游戏《超级马力欧兄弟》获取极大成功，在全世界范围内受到巨大欢迎。任天堂由此奠定了在游戏市场的不败地位。截至2008年，从游戏软件销售的比率上看，无论是日本国内还是全世界范围内，均占据第一的位置。截至2010年，现有游戏硬件的销售量无论掌机还是家用机，均列世界第一。同时，其并未放弃传统的玩具生产，且在这一领域的发展规模在同业厂商中亦属最大级别。任天堂亦曾长时间持有美国职棒大联盟的西雅图水手队。</p>
    <p class="content">公司自身并不拥有游戏机制造工厂。以前是由位于日本国内的外包厂商的工厂进行生产与组装，而现在则是在位于中国大陆的生产合作工厂（鸿海科技集团下属之鸿海精密工业）进行制造。</p>
    <p class="content">任天堂自社开发的游戏中有近百款在日本地区获取了百万以上销量。此外在日本以外地区亦有相当大的影响力，许多游戏的全球销量可达到千万以上，例如Wii Sports的全球销量为8283万份。除了销售成绩良好之外，任天堂游戏在业界与玩家中均有良好的口碑。根据游戏评分汇总网站GameRankings的统计，史上汇总评分最高的电子游戏前五名均出自任天堂之手。</p>
    <p class="content">任天堂一直维持着20%以上的利润率，在日本的大企业中绝无仅有。作为销售额超一兆日元的超大型企业，雇员仅有5,000人左右，所以每位雇员平均创造的销售额也很高（约为丰田汽车的5倍）。另外，其作为如此大规模的企业而不进行任何财界活动，可谓是特立独行。</p>
    <p class="content">任天堂已开发的家用游戏机包括Color TV-Game、Family Computer、Super Famicom、任天堂64、任天堂GameCube、Wii和Wii U，而掌上游戏机则包括Game & Watch、Virtual Boy、Game Boy系列、任天堂DS系列和任天堂3DS系列、与可兼用家用和掌上游戏机功能的任天堂Switch和其衍伸掌上型游戏机任天堂Switch Lite。任天堂本公司及第二方（包括控股子公司以及参股公司）开发了许多知名游戏系列与作品；亦创造了众多知名虚拟游戏角色。</p>
    <p class="content">自1983年机发售起至2018年初，任天堂已在全球售出超过45亿份游戏软件，超过7.2亿台家用和掌上型游戏主机。随着电子游戏事业的成功，任天堂亦向日本以外地区发展，现已在美国和香港等地有多家海外子公司。</p>
</div>

<div lang="zh-tr">
    <h1 class="title">繁體中文</h1>
    <a class="content" href="https://zh.wikipedia.org/zh-hk/%E4%BB%BB%E5%A4%A9%E5%A0%82" target="_blank">https://zh.wikipedia.org/zh-hk/%E4%BB%BB%E5%A4%A9%E5%A0%82</a>
    <p class="content">任天堂（日語：任天堂／にんてんどう）是一家主要從事電子遊戲的開發、製造與發行的日本百年企業。於1889年在日本京都市創立，最初以生產花札（賭博用的手牌）起家，後續也嘗試多種行業，1970年代後期投入電子遊戲產業，在掌上遊戲機「Game & Watch」與街機遊戲《大金剛》取得商業成功後，娛樂事業也逐漸大眾化而走上正途，於1983年推出家用遊戲機「Family Computer」與在1985年推出遊戲《超級瑪利歐兄弟》亦取得空前的成功，且旗下有多個著名IP，包括薩爾達傳說、寶可夢和動物森友會等，為世界知名的電子遊戲主機與軟件開發商，亦是世界目前遊戲機三大生產商之一。</p>
    <p class="content">任天堂由山內房治郎於1889年9月23日成立，最初主要是生產花札紙牌，此後一直維持此種經營方式至1960年代。此後任天堂進行了一系列業務多樣化嘗試，其中包括組建的士公司、經營賓館和出售真空吸塵器等等。1970年代，任天堂最終進入電視遊戲業務，確定了作為玩具廠商的地位，並推出了「Ultra Band」、「光線槍SP」等熱門商品。1980年，發售掌上遊戲機「Game & Watch」，取得巨大成功。1983年，發售「Family Computer」。1985年，其在FC上推出的遊戲《超級瑪利歐兄弟》取得極大成功，在全世界範圍內受到巨大歡迎。任天堂由此奠定了在遊戲市場的不敗地位。截至2008年，從遊戲軟件銷售的比率上看，無論是日本國內還是全世界範圍內，均佔據第一的位置。截至2010年，現有遊戲硬件的銷售量無論掌機還是家用機，均列世界第一。同時，其並未放棄傳統的玩具生產，且在這一領域的發展規模在同業廠商中亦屬最大級別。任天堂亦曾長時間持有美國職棒大聯盟的西雅圖水手隊。</p>
    <p class="content">公司自身並不擁有遊戲機製造工廠。以前是由位於日本國內的外包廠商的工廠進行生產與組裝，而現在則是在位於中國大陸的生產合作工廠（鴻海科技集團下屬之鴻海精密工業）進行製造。</p>
    <p class="content">任天堂自社開發的遊戲中有近百款在日本地區取得了百萬以上銷量。此外在日本以外地區亦有相當大的影響力，許多遊戲的全球銷量可達到千萬以上，例如Wii Sports的全球銷量為8283萬份。除了銷售成績良好之外，任天堂遊戲在業界與玩家中均有良好的口碑。根據遊戲評分匯總網站GameRankings的統計，史上匯總評分最高的電子遊戲前五名均出自任天堂之手。</p>
    <p class="content">任天堂一直維持着20%以上的利潤率，在日本的大企業中絕無僅有。作為銷售額超一兆日元的超大型企業，僱員僅有5,000人左右，所以每位僱員平均創造的銷售額也很高（約為豐田汽車的5倍）。另外，其作為如此大規模的企業而不進行任何財界活動，可謂是特立獨行。</p>
    <p class="content">任天堂已開發的家用遊戲機包括Color TV-Game、Family Computer、Super Famicom、任天堂64、任天堂GameCube、Wii和Wii U，而掌上遊戲機則包括Game & Watch、Virtual Boy、Game Boy系列、任天堂DS系列和任天堂3DS系列、與可兼用家用和掌上遊戲機功能的任天堂Switch和其衍伸掌上型遊戲機任天堂Switch Lite。任天堂本公司及第二方（包括控股子公司以及參股公司）開發了許多知名遊戲系列與作品；亦創造了眾多知名虛擬遊戲角色。</p>
    <p class="content">自1983年機發售起至2018年初，任天堂已在全球售出超過45億份遊戲軟件，超過7.2億台家用和掌上型遊戲主機。隨着電子遊戲事業的成功，任天堂亦向日本以外地區發展，現已在美國和香港等地有多家海外子公司。</p>
</div>

<div lang="ja">
    <h1 class="title">日本語</h1>
    <a class="content" href="https://ja.wikipedia.org/wiki/%E4%BB%BB%E5%A4%A9%E5%A0%82" target="_blank">https://ja.wikipedia.org/wiki/%E4%BB%BB%E5%A4%A9%E5%A0%82</a>
    <p class="content">任天堂株式会社（にんてんどう、英: Nintendo Co., Ltd.）は、主に玩具やコンピュータゲームの開発・製造・販売を行う日本の企業。TOPIX Core30およびJPX日経インデックス400の構成銘柄の一つ。</p>
    <p class="content">1889年に創業した老舗企業で娯楽に関するさまざまな事業を展開している。創業以来、多くの種類の玩具を製作しており、特に花札やトランプは創業初期から現在に至るまで製造、販売を続けている。</p>
    <p class="content">1970年代後期に家庭用と業務用のコンピュータゲーム機の開発を開始した。1983年発売の据え置き型ゲーム機「ファミリーコンピュータ」のゲームソフトとして1985年に発売した『スーパーマリオブラザーズ』が世界的にヒットしたことでゲーム機やゲームソフトを開発する会社として広く認知されるようになった。</p>
    <p class="content">『スーパーマリオブラザーズ』の主人公「マリオ」など、任天堂のゲームソフトに登場するキャラクターは世界的に認知されているものが多く、2010年代からはキャラクターIPのゲーム外での活用を進めている。</p>
</div>

<div lang="ko">
    <h1 class="title">한국어</h1>
    <a class="content" href="https://ko.wikipedia.org/wiki/%EB%8B%8C%ED%85%90%EB%8F%84" target="_blank">https://ko.wikipedia.org/wiki/%EB%8B%8C%ED%85%90%EB%8F%84</a>
    <p class="content">닌텐도 주식회사 (일본어: 任天堂株式会社, 영어: Nintendo Co., Ltd., 문화어: 닌뗀도) 는 교토에 본사가 위치한 일본의 다국적 비디오 게임 기업이다. 비디오 게임기와 비디오 게임을 제작하고 출시한다.</p>
    <p class="content">시초는 1889년 장인 야마우치 후사지로가 설립한 닌텐도 가루타 로, 본래 '하나후다'라고 불리는 일본 전통 화투패를 생산하는 가공업으로 시작했다. 1960년대부터 여러 사업분야를 전전하며 공개회사로 전환했고, 1977년에 첫 비디오 게임기 컬러 TV 게임을 생산하면서 전자오락산업에 진출했다. 1981년에 발매한 《동키콩》과 1985년에 발매한 게임기 패밀리 컴퓨터 및 게임 《슈퍼 마리오 브라더스》를 기점으로 전세계적인 명성을 얻기 시작했다.</p>
    <p class="content">이후로 게임보이, 슈퍼 패미컴, 닌텐도 DS, Wii, 닌텐도 스위치 등 비디오 게임 산업 역사상 최고의 성적을 거둔 게임기들을 출시했다. 또한 《마리오》, 《동키콩》, 《젤다의 전설》, 《포켓몬스터》, 《동물의 숲》, 《별의 커비》, 《메트로이드》, 《슈퍼 스매시 브라더스》, 《스플래툰》, 《스타폭스》, 《파이어 엠블렘》, 《제노블레이드 크로니클스》 등 대형 비디오 게임 프랜차이즈들을 전개했으며 국제적 마스코트 마리오를 보유한다. 2022년 기준으로 전세계에 비디오 게임 540억 장, 게임기 판매량 8억 대 이상을 판매했다.</p>
    <p class="content">닌텐도는 레트로 스튜디오스나 모놀리스 소프트같은 일본 및 해외 지역의 지사들을 소유했으며 HAL 연구소와 포켓몬 컴퍼니같은 협력사와 교류한다. 닌텐도는 가장 부유하고 가치있는 일본기업 순위의 최상위에 속하며, 닌텐도 및 소속 직원들은 기술공학에미상, 더 게임 어워즈, 게임 개발자 선택 수상식과 영국 아카데미 게임상에서 다양한 종목에서 수상받았다 (카르몬 (음악 그룹)).</p>
</div>

<div lang="en">
    <h1 class="title">English</h1>
    <p class="content">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
    <a class="content" href="https://en.wikipedia.org/wiki/Nintendo" target="_blank">https://en.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo Co., Ltd. is a Japanese multinational video game company headquartered in Kyoto. It develops, publishes, and releases both video games and video game consoles.</p>
    <p class="content">The history of Nintendo began when craftsman Fusajiro Yamauchi founded the company to produce handmade hanafuda playing cards. After venturing into various lines of business and becoming a public company, Nintendo began producing toys in the 1960s, and later video games. Nintendo developed its first arcade games in the 1970s, and distributed its first system, the Color TV-Game in 1977. The company became internationally dominant in the 1980s after the arcade release of Donkey Kong (1981) and the Nintendo Entertainment System, which launched outside of Japan alongside Super Mario Bros. in 1985.</p>
    <p class="content">Since then, Nintendo has produced some of the most successful consoles in the video game industry, including the Game Boy (1989), the Super Nintendo Entertainment System (1991), the Nintendo DS (2004), the Wii (2006), and the Nintendo Switch (2017). It has created or published numerous major franchises, including Mario, Donkey Kong, The Legend of Zelda, Animal Crossing, and Pokémon. The company's mascot, Mario, is among the most famous fictional characters, and Nintendo's other characters—including Luigi, Donkey Kong, Samus, Link, Kirby, and Pikachu—have attained international recognition. Several films and a theme park area based on the company's franchises have been created.</p>
    <p class="content">Nintendo's game consoles have sold over 860 million units worldwide as of May 2025, for which more than 5.9 billion individual games have been sold. The company has numerous subsidiaries in Japan and worldwide, in addition to second-party developers including HAL Laboratory, Intelligent Systems, and Game Freak. It is one of the wealthiest and most valuable companies in the Japanese market.</p>
</div>

<div lang="fr">
    <h1 class="title">Français</h1>
    <p class="content">Aa Àà Ââ Ææ Bb Cc Çç Dd Ee Éé Èè Êê Ëë Ff Gg Hh Ii Îî Ïï Jj Kk Ll Mm Nn Oo Ôô Œœ Pp Qq Rr Ss Tt Uu Ûû Ùù Üü Vv Ww Xx Yy Ÿÿ Zz</p>
    <a class="content" href="https://fr.wikipedia.org/wiki/Nintendo" target="_blank">https://fr.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo est une entreprise multinationale japonaise fondée par Yamauchi Fusajirō à Kyoto. Elle est spécialisée dans la fabrication de consoles de jeu vidéo depuis 1977 avec la sortie de la Color TV-Game, ainsi que dans la conception de jeux vidéo, dont les séries Super Mario et The Legend of Zelda.</p>
    <p class="content">À ses débuts en 1889, la société produisait des cartes à jouer japonaises : les Hanafuda. À partir des années 1970, la société diversifie ses activités en produisant des jouets et des bornes d'arcade. Elle est ainsi l'une des principales sociétés précurseurs du jeu vidéo. Dans la fin des années 1970, Nintendo se lance dans le marché des consoles et des jeux vidéo. Elle est l'un des leaders de ce marché : en 2008, Nintendo est classé premier éditeur de jeux vidéo au Japon et deuxième aux États-Unis (NPD Group). En 2024, Nintendo a vendu environ 910 millions de consoles, toutes générations et tous types confondus.</p>
    <p class="content">Nintendo est l'une des rares entreprises de jeu vidéo à avoir su faire entrer certaines de ses licences, en particulier Mario ou Pokémon, dans la culture commune, au même titre que des personnages emblématiques d'autres sociétés de divertissement comme Mickey Mouse de The Walt Disney Company. En 2021, Nintendo, en partenariat avec Universal Parks & Resorts, ouvre une section thématique de parc à thèmes à son nom, le Super Nintendo World, à Universal Studios Japan. En 2023 sort au cinéma Super Mario Bros., le film. En 2024 ouvre le Nintendo Museum au Japon qui retrace l'histoire de la société à travers ses produits.</p>
</div>

<div lang="de">
    <h1 class="title">Deutsch</h1>
    <p class="content">Aa Ää Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Öö Pp Qq Rr Ss ẞß Tt Uu Üü Vv Ww Xx Yy Zz</p>
    <a class="content" href="https://de.wikipedia.org/wiki/Nintendo" target="_blank">https://de.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo K.K. (japanisch 任天堂株式会社, Nintendō kabushiki-gaisha, englisch Nintendo Co., Ltd.) ist ein japanischer Hersteller und Verleger von Videospielen und Spielkonsolen. Ursprünglich als Spielkartenmanufaktur im Jahr 1889 von Fusajirō Yamauchi in Kyōto gegründet, stieg Nintendo in den 1970er Jahren in den Videospielmarkt ein, brachte in den 1980er Jahren mit dem Nintendo Entertainment System seine erste selbst produzierte TV-Videospielkonsole mit wechselbaren Modulen auf den Markt und wurde in den 1990er Jahren zu einem Weltkonzern sowie zum Marktführer für Handhelds. Das Nintendo DS war mit 154,02 Millionen verkauften Einheiten die erfolgreichste Handheld-Konsole, die jemals verkauft wurde, sowie die erfolgreichste Konsole des Unternehmens Nintendo.</p>
    <p class="content">Nintendo unterhält weltweit sieben Hauptstandorte. Der europäische Hauptstandort des Unternehmens, Nintendo of Europe, befindet sich seit 2014 in Frankfurt am Main, nachdem Nintendo seine Niederlassung in Großostheim aufgab.</p>
    <p class="content">Von 1949 bis 2002 stand Hiroshi Yamauchi, der Urenkel des Firmengründers, 53 Jahre lang an der Spitze des Unternehmens und prägte es grundlegend. Ihm folgte als Präsident Satoru Iwata, der den Konzern weiter festigen konnte. 2015 starb Iwata unerwartet nach kurzer Krankheit und der Konzern wurde übergangsweise von Shigeru Miyamoto und Genyo Takeda vertreten. Nach einer kurzen Amtszeit von Tatsumi Kimishima ist seit dem 28. Juni 2018 Shuntarō Furukawa der sechste Präsident des Unternehmens.</p>
    <p class="content">Weltbekannt ist Nintendo für seine Handheld-Konsolen wie den Game Boy oder den Nintendo DS, seine stationären Spielkonsolen wie das Nintendo Entertainment System (abgekürzt NES) oder die Wii und die hybriden Spielkonsolen Nintendo Switch und Nintendo Switch 2. Figuren aus The Legend of Zelda und Donkey Kong werden mit Nintendo identifiziert. Die Hauptfigur aus dem Super-Mario-Franchise wurde das Maskottchen des Konzerns. Weiterhin ist Nintendo für die Spielserie Metroid und das Pokémon-Franchise bekannt.</p>
    <p class="content">Insgesamt wurden bis 2023 weltweit über 850 Millionen Spielkonsolen von Nintendo verkauft, für die zusammengenommen mehr als 5,75 Milliarden Spiele verkauft wurden.</p>
    <p class="content">Nintendos verbliebene Hauptkonkurrenten sind Sonys PlayStation und Microsofts Xbox. Den Wettbewerb mit Nintendo gab Sega nach seiner Dreamcast bereits Ende der 1990er Jahre auf und veröffentlichte später Spiele auf den Nintendo-Konsolen. Nintendos Konkurrenten erwiesen sich oft als technisch überlegen, jedoch legte der Konzern schon seit Beginn seines Konsolengeschäfts seinen Schwerpunkt auf attraktive, familienfreundliche Software, die zusammen mit vergleichsweise günstiger Hardware erworben werden kann.</p>
</div>

<div lang="es">
    <h1 class="title">Español</h1>
    <p class="content">Aa Áá Bb Cc Dd Ee Éé Ff Gg Hh Ii Íí Jj Kk Ll Mm Nn Ññ Oo Óó Pp Qq Rr Ss Tt Uu Úú Üü Vv Ww Xx Yy Zz</p>
    <a class="content" href="https://es.wikipedia.org/wiki/Nintendo" target="_blank">https://es.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo Company, Ltd. (任天堂株式会社 Nintendō Kabushiki-gaisha) es una empresa japonesa de entretenimiento dedicada a la investigación, desarrollo y distribución de software y hardware de videojuegos, y juegos de cartas, con sede en Kioto, Japón. Su origen se remonta a 1889, cuando comenzó a operar como Nintendo Koppai tras ser fundada por el artesano Fusajirō Yamauchi con el objetivo de producir y comercializar naipes hanafuda. Tras incursionar en varias líneas de negocio durante la década de 1960 y adquirir una personalidad jurídica de empresa de capital abierto bajo la denominación actual, en 1977 distribuyó su primera videoconsola en Japón, la Color TV Game 15.</p>
    <p class="content">Sus productos incluyen algunas de las consolas y títulos más influyentes y exitosos en la industria de los videojuegos, como la Nintendo Entertainment System, la Super Nintendo Entertainment System, la Wii y la Game Boy; así como los juegos Donkey Kong (1981), Super Mario Bros. (1985), The Legend of Zelda (1986), Metroid (1986), Fire Emblem (1990), Star Fox (1993) y Pokémon Red y Blue (1996), que dieron origen a sus correspondientes franquicias.</p>
    <p class="content">Nintendo cuenta con varias filiales en múltiples ubicaciones tanto en Japón como en el extranjero, en las cuales delega la responsabilidad de producir y distribuir sus productos, además de socios comerciales como The Pokémon Company y Warpstar, Inc.. Tanto la organización como su personal han recibido varios premios por sus logros, entre los cuales se incluyen reconocimientos Emmy de tecnología e ingeniería, Game Developers Choice Awards y galardones BAFTA de videojuegos, entre otros. Asimismo, es una de las empresas japonesas con mayor riqueza y valor en el mercado, además de poseer una de las políticas de responsabilidad social con «mejor reputación» en el mundo.</p>
</div>

<div lang="it">
    <h1 class="title">Italiano</h1>
    <p class="content">Aa Àà Bb Cc Dd Ee Èè Éé Ff Gg Hh Ii Ìì Íí Îî Jj Kk Ll Mm Nn Oo Òò Óó Pp Qq Rr Ss Tt Uu Ùù Úú Vv Ww Xx Yy Zz</p>
    <a class="content" href="https://it.wikipedia.org/wiki/Nintendo" target="_blank">https://it.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo Co. Ltd. (任天堂株式会社, Nintendō kabushiki-gaisha) è un'azienda giapponese specializzata nella produzione di videogiochi e console.</p>
    <p class="content">Considerata come una delle più grandi compagnie del Giappone, Nintendo fu fondata il 23 settembre 1889 da Yamauchi Fusajirō come produttore e distributore di carte da gioco. Nel corso della sua storia ha realizzato diversi giochi meccanici ed elettronici, entrando poi nel mondo dei videogiochi negli anni settanta, come produttore di giochi arcade. Nel 1977 Nintendo lanciò con successo la propria linea di console domestiche denominata Color TV Game.</p>
    <p class="content">Dagli anni ottanta Nintendo ha prodotto numerose console da tavolo e portatili che hanno venduto oltre 750 milioni di unità. Tra le console che hanno venduto più di 10 milioni figurano il Nintendo Entertainment System, il Super Nintendo Entertainment System, il Nintendo 64, il Nintendo GameCube, il Wii, il Nintendo Switch, il Game Boy, il Game Boy Advance, il Nintendo DS e il Nintendo 3DS. L'azienda ha realizzato inoltre la serie Game & Watch e il Virtual Boy.</p>
    <p class="content">Nintendo ha pubblicato oltre cinquecento giochi, spesso avvalendosi della collaborazione di altre aziende per quanto riguarda lo sviluppo. In trent'anni ha venduto oltre 577 milioni di console e 3,5 miliardi di copie dei videogiochi direttamente sviluppati. Il 23 settembre 2019 Nintendo ha festeggiato il suo 130º anno di vita.</p>
    <p class="content">L'amministratore delegato e presidente della società è Shuntaro Furukawa, mentre la mascotte di Nintendo è Mario, personaggio creato nel 1981 da Shigeru Miyamoto per il videogioco arcade Donkey Kong. Nintendo è quotata sulla borsa di Tokyo dal 1983.</p>
</div>

<div lang="nl">
    <h1 class="title">Nederlands</h1>
    <p class="content">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
    <a class="content" href="https://nl.wikipedia.org/wiki/Nintendo" target="_blank">https://nl.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo (Japans: 任天堂 "Nintendō") is een bedrijf dat is opgericht in Kyoto, Japan door Fusajiro Yamauchi op 23 september 1889.</p>
    <p class="content">Nintendo begon als fabrikant van handgemaakte hanafuda-kaarten, voor gebruik in een gelijknamig Japans kaartspel. In de tweede helft van de twintigste eeuw begon het bedrijf te experimenteren met andere producten, waaronder speelgoed. Via speelgoed belandde Nintendo bij computerspellen: in de jaren zeventig van de 20e eeuw begon het bedrijf met het ontwikkelen en produceren van coin-opmachines oftewel speelapparaten. In 1980 bracht Nintendo zijn eerste draagbare console uit: de Nintendo Game & Watch.</p>
</div>

<div lang="pt">
    <h1 class="title">Português</h1>
    <p class="content">Aa Áá Ââ Ãã Àà Bb Cc Çç Dd Ee Éé Êê Ff Gg Hh Ii Íí Jj Kk Ll Mm Nn Oo Óó Ôô Õõ Pp Qq Rr Ss Tt Uu Úú Üü Vv Ww Xx Yy Zz</p>
    <a class="content" href="https://pt.wikipedia.org/wiki/Nintendo" target="_blank">https://pt.wikipedia.org/wiki/Nintendo</a>
    <p class="content">A Nintendo Co., Ltd. (任天堂株式会社, Nintendō Kabushiki Gaisha) é uma desenvolvedora e publicadora japonesa de jogos eletrônicos e consoles sediada em Quioto, no Japão. Foi fundada em setembro de 1889 pelo artesão e empresário Fusajiro Yamauchi, e originalmente era uma fabricante de cartas de baralho tradicionais japonesas. A Nintendo continuou nesse ramo por mais de meio século, no caminho passando por períodos de sucesso e dificuldade, começando a se aventurar em novos negócios a partir da década de 1960. A empresa finalmente entrou no mercado de jogos eletrônicos em 1977 com o lançamento do console Color TV-Game. Seu console seguinte foi o Nintendo Entertainment System, lançado em 1983 no Japão e dois anos depois no resto do mundo. Ele foi um enorme sucesso comercial e popularizou várias franquias da empresa, como as séries Donkey Kong, Super Mario, The Legend of Zelda e Metroid.</p>
    <p class="content">A Nintendo foi sucedido por outros consoles de sucesso, como Super Nintendo Entertainment System e a linha Game Boy, que reafirmaram a dominância da Nintendo no mercado de jogos. Entretanto, a ascensão do PlayStation e depois do Xbox na virada do século fez com que o Nintendo 64 e Nintendo GameCube fossem considerados fracassos comerciais. A empresa mudou sua estratégia de mercado de jogos e procurou alcançar um público não-jogador, o que levou ao desenvolvimento da linha Nintendo DS e do Nintendo Wii, que foram dois enormes sucessos que superaram os concorrentes diretos da empresa. Eles foram sucedidos pela linha Nintendo 3DS e Wii U, que não alcançaram os mesmos números de vendas e colocaram a Nintendo em um período de perdas financeiras. O fracasso do Wii U fez a companhia desenvolver rapidamente um novo console, o Nintendo Switch, que teve números recordes de vendas ao ser lançado em 2017 e ajudou a recuperar a saúde financeira da Nintendo.</p>
    <p class="content">A empresa também possui várias divisões, subsidiárias e afiliadas, para as quais delega a responsabilidade de desenvolver e distribuir parte de seus produtos, também sendo parceira de negócios na The Pokémon Company e HAL Laboratory. A Nintendo e suas produções já receberam diferentes prêmios da indústria de jogos eletrônicos, incluindo em categorias do Game Developers Choice Awards, British Academy Games Awards e The Game Awards. É também uma das empresas japonesas de maior riqueza e valor de mercado, além de possuir uma política de responsabilidade social considerada uma das de melhor reputação do mundo.</p>
    <p class="content">Em julho de 2022, a empresa anunciou no Twitter, a aquisição da Dynamo Pictures, uma produtora de animação.</p>
</div>

<div lang="cs">
    <h1 class="title">Čeština</h1>
    <p class="content">Aa Áá Bb Cc Čč Dd Ďď Ee Éé Ěě Ff Gg Hh Ii Íí Jj Kk Ll Mm Nn Ňň Oo Óó Pp Qq Rr Řř Ss Šš Tt Ťť Uu Úú Ůů Vv Ww Xx Yy Ýý Zz Žž</p>
    <a class="content" href="https://cs.wikipedia.org/wiki/Nintendo" target="_blank">https://cs.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendó (japonsky: 任天堂株式会社 Nintendó kabušiki-gaiša) je japonská firma, v současné době se věnující výrobě a distribuci videoher a herních konzolí. Byla založena už v roce 1889 jako firma vyrábějící hrací karty, posléze se přeorientovala na výrobu hraček a dnes vyrábí hlavně vlastní herní systémy a hry pro ně.</p>
</div>

<div lang="da">
    <h1 class="title">Dansk</h1>
    <p class="content">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz Ææ Øø Åå</p>
    <a class="content" href="https://da.wikipedia.org/wiki/Nintendo" target="_blank">https://da.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo Corporation, Limited som kort Nintendo er et japansk firma, som producerer spillekonsoller og videospil. Nintendo er videospilverdenens ældste aktør og har lanceret en række håndholdte konsoller, tv-konsoller og arkadekonsoller. Der er ca. 3.000 ansatte verden over, men firmaet har solgt over 2 milliarder spil.</p>
    <p class="content">Firmaet har hovedsæde i Kyoto.</p>
</div>

<div lang="pl">
    <h1 class="title">Polski</h1>
    <p class="content">Aa Ąą Bb Cc Ćć Dd Ee Ęę Ff Gg Hh Ii Jj Kk Ll Łł Mm Nn Ńń Oo Óó Pp Qq Rr Ss Śś Tt Uu Vv Ww Xx Yy Zz Źź Żż</p>
    <a class="content" href="https://pl.wikipedia.org/wiki/Nintendo" target="_blank">https://pl.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo (jap. 任天堂株式会社 Nintendō Kabushiki-gaisha) – japońskie przedsiębiorstwo założone 23 września 1889 przez Fusajirō Yamauchiego, w celu produkowania kart hanafuda do japońskiej gry o tej samej nazwie. W ciągu kilkudziesięciu lat przedsiębiorstwo zajęło się rynkiem gier konsolowych i stało się jednym z potentatów w tej dziedzinie.</p>
    <p class="content">Wśród najpopularniejszych konsol Nintendo można wymienić Game Boy, Super Nintendo Entertainment System, Nintendo DS, Wii czy Nintendo Switch. Nintendo wydało także wiele wpływowych franczyz, m.in. Mario, The Legend of Zelda, Star Fox oraz Pokémon. Przedsiębiorstwo i jego pracownicy zostali nagrodzeni licznymi nagrodami, w tym Game Developers Choice Awards oraz British Academy Games Awards.</p>
</div>

<div lang="sv">
    <h1 class="title">Svenska</h1>
    <p class="content">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz Åå Ää Öö</p>
    <a class="content" href="https://sv.wikipedia.org/wiki/Nintendo" target="_blank">https://sv.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo Co., Ltd. (任天堂株式会社 Nintendō Kabushiki gaisha) är ett japanskt multinationellt hemelektronikföretag som främst tillverkar spelkonsoler och producerar TV-spel. Nintendo är mest känt för spelserierna Super Mario, The Legend of Zelda, Donkey Kong, Kirby, Star Fox, Pokémon och Mario Kart. Företaget grundades den 23 september 1889 av Fusajiro Yamauchi, som började tillverka spelkort, men är sedan slutet av 1970-talet mestadels inriktat på tv-spel. I Norden distribueras Nintendos produkter av Bergsala AB.</p>
</div>

<div lang="ro">
    <h1 class="title">Română</h1>
    <p class="content">Aa Ăă Ââ Bb Cc Dd Ee Ff Gg Hh Ii Îî Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Șș Tt Țț Uu Vv Ww Xx Yy Zz</p>
    <a class="content" href="https://ro.wikipedia.org/wiki/Nintendo" target="_blank">https://ro.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo Co., Ltd. (任天堂株式会社 Nintendō Kabushiki-geisha) este o companie japoneză multinațională de electronice și jocuri video, cu sediul central aflat în Kyoto. Nintendo este una dintre cele mai mari companii de jocuri video, dând naștere unor francize populare precum Mario, The Legend of Zelda, Metroid (seria) și Pokémon.</p>
    <p class="content">Fondată pe 23 septembrie 1889 de către Fusajiro Yamauchi, compania producea inițial cărți de joc hanafuda. Abandonând alte preocupări în favoarea jucăriilor în anii 1960, Nintendo s-a transformat într-o companie de jocuri video în decursul anilor 1970, devenind una dintre cele mai importante companii în industrie, și a treia cea mai valoroasă companie a Japoniei, cu o valoare de peste $85 miliarde.</p>
</div>

<div lang="hu">
    <h1 class="title">Magyar</h1>
    <p class="content">Aa Áá Bb Cc Dd Ee Éé Ff Gg Hh Ii Íí Jj Kk Ll Mm Nn Oo Óó Öö Őő Pp Qq Rr Ss Tt Uu Úú Üü Űű Vv Ww Xx Yy Zz</p>
    <a class="content" href="https://hu.wikipedia.org/wiki/Nintendo" target="_blank">https://hu.wikipedia.org/wiki/Nintendo</a>
    <p class="content">A Nintendo Company, Limited (任天堂株式会社, Nintendó Kabusiki-gaisa) egy japán multinacionális cég. A vállalatot Jamaucsi Fuszadzsiró alapította Kiotóban 1889. szeptember 23-án, eredetileg kézzel készített, ún. hanafuda kártyák gyártására. A 20. század közepén a cég számos piaci szegmensen kísérletezett, például taxi- és szállodaüzemeltetéssel. Az évek során a videójáték-gyártás vált a cég fő profiljává és a játékipar egyik meghatározó szereplője lett. Emellett a Nintendo az amerikai Seattle Mariners baseballcsapat többségi, az Atlanta Hawks kosárlabdacsapatnak pedig kisebbségi tulajdonosa.</p>
    <p class="content">A Nintendo a videójáték-piac legrégebbi, máig fennmaradt három nagy videójátékkonzol-gyártó cégének egyike a Microsoft és a Sony mellett. Game Boy Advance és Nintendo DS modelljeinek köszönhetően piacvezető a kézi játékkonzolok gyártásában. 2007. június 30-ig a Nintendo története során 453 millió játékgépet és közel 2,2 milliárd játékprogramot adott el világszerte.</p>
</div>

<div lang="ru">
    <h1 class="title">Русский</h1>
    <p class="content">Аа Бб Вв Гг Дд Ее Ёё Жж Зз Ии Йй Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ъъ Ыы Ьь Ээ Юю Яя</p>
    <a class="content" href="https://ru.wikipedia.org/wiki/Nintendo" target="_blank">https://ru.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo (яп. 任天堂株式会社 Нинтэндо: кабусики-гайся) — японская транснациональная корпорация, специализирующаяся на разработке видеоигр и игровых систем.</p>
    <p class="content">Штаб-квартира корпорации расположена в городе Киото, столице одноимённой префектуры.</p>
    <p class="content">Корпорация Nintendo была основана ремесленником Фусадзиро Ямаути в 1889 году. Первоначально она производила игральные карты ручной работы «ханафуда». В 1960-х годах Nintendo начала заниматься другими видами бизнеса и приобрела юридический статус публичной компании под нынешним названием, а в 1977 году выпустила Color TV-Game, свою первую игровую приставку. Компания получила международное признание после выпуска игры Donkey Kong в 1981 году, а также игровой системы Nintendo Entertainment System и игры Super Mario Bros. в 1985 году.</p>
    <p class="content">С тех пор Nintendo выпустила несколько самых успешных игровых систем, таких как Nintendo Entertainment System, Game Boy, Super Nintendo Entertainment System, Nintendo DS, Wii и Nintendo Switch. Компания создала множество крупных франшиз, таких как Mario, Donkey Kong, The Legend of Zelda, Pokémon, Kirby, Metroid, Fire Emblem, Animal Crossing, Splatoon, Star Fox, Xenoblade Chronicles и Super Smash Bros.</p>
    <p class="content">Nintendo имеет множество дочерних компаний в Японии и за рубежом, а также таких деловых партнёров, как The Pokémon Company и HAL Laboratory. Компания Nintendo и её сотрудники были удостоены таких наград, как Technology & Engineering Emmy Awards, Game Awards, Game Developers Choice Awards и «Премия Британской Академии в области видеоигр».</p>
    <p class="content">Корпорация Nintendo является одной из самых крупных, богатых и влиятельных частных коммерческих организаций на японском медиарынке.</p>
</div>

<div lang="uk">
    <h1 class="title">Українська</h1>
    <p class="content">Аа Бб Вв Гг Ґґ Дд Ее Єє Жж Зз Ии Іі Її Йй Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ьь Юю Яя</p>
    <a class="content" href="https://uk.wikipedia.org/wiki/Nintendo" target="_blank">https://uk.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Nintendo Co., Ltd — японська багатонаціональна компанія споживчої електроніки та відеоігор зі штаб-квартирою в Кіото, Японія. Компанія є однієї з найбільших у світі виробникiв відеоігор за ринковою капіталізацією. Заснована 23 вересня 1889 року Фусадзіро Ямауті, який започаткував виробництво гральних карт.</p>
    <p class="content">У 1970-і роки, завдяки розробкам інженера Гумпей Йокоі, особливо його іграшці «The Ultra Hand», компанія Nintendo розпочала створення іграшок для дітей і побудувала власну іграшкову фабрику. Гумпей Йокоі після успіху іграшки «The Ultra Hand» був переведений з відділу обслуговування на розробку.</p>
    <p class="content">Оскільки Йокоі був інженером, він розробляв також електронні іграшки. Вони були досить нові на той час в порівнянні з традиційними, що дозволило Nintendo отримувати більший прибуток. Йокоі розробив безліч іграшок, наприклад пазли «Ten Billion Barrel», бейсбольну машинку, названу Ultra Machine і «Love Tester». Одним з винаходів, зроблених спільно з Масаюкі Уемура, була гра Nintendo Beam Gun Game, предок NES Zapper.</p>
    <p class="content">Станом на 31 березня 2014 року, Nintendo має сукупний продаж у понад 670,43 мільйонів апаратних одиниць і 4,23 млрд програмних одиниць. Компанія створила і випустила деякі з найвідоміших і найбільш продаваних ігрових серій відеоігор, таких як Super Mario, The Legend of Zelda і Pokemon.</p>
</div>

<div lang="el">
    <h1 class="title">Ελληνικά</h1>
    <p class="content">Αα Ββ Γγ Δδ Εε Ζζ Ηη Θθ Ιι Κκ Λλ Μμ Νν Ξξ Οο Ππ Ρρ Σσς Ττ Υυ Φφ Χχ Ψψ Ωω</p>
    <a class="content" href="https://el.wikipedia.org/wiki/Nintendo" target="_blank">https://el.wikipedia.org/wiki/Nintendo</a>
    <p class="content">Η Nintendo Co., Ltd. (ιαπωνικά: 任天堂) Νιν-τέντο) είναι ιαπωνική πολυεθνική εταιρεία ηλεκτρονικών και βιντεοπαιχνιδιών, που ιδρύθηκε στις 23 Σεπτεμβρίου του 1889 στο Κιότο από το Φουσατζίρο Γιαμαούτσι, αρχικά για να παραγάγει τις χειροποίητες κάρτες χανάφουντα, του ομώνυμου ιαπωνικού παιχνιδιού καρτών. Στα μέσα του εικοστού αιώνα, η επιχείρηση δοκίμασε διάφορες μικρές δραστηριότητες, όπως ένα ξενοδοχείο αγάπης και ένα ταξιδιωτικό γραφείο. Με την πάροδο του χρόνου, η Nintendo έγινε μια επιχείρηση βιντεοπαιχνιδιών, και έχει αναδειχθεί σήμερα ως μία από τις μεγαλύτερες δυνάμεις στη σχετική βιομηχανία.</p>
    <p class="content">Μέχρι το Μάρτιο του 2023, η Nintendo σημείωσε πωλήσεις οι οποίες, αθροιστικά, αγγίζουν διεθνώς τα 5,592 δισεκατομμύρια βιντεοπαιχνίδια και πάνω από 836 εκατομμύρια υλικά υπολογιστών (hardwares). Η εταιρεία έχει δημιουργήσει και διανέμει μερικά από τα πιο γνωστά και με μεγαλύτερες πωλήσεις δικαιοχρήσεων, όπως τα Mario, Pokémon, Metroid, The Legend of Zelda και Donkey Kong. Στα Βαλκάνια, επίσημος αντιπρόσωπος της Nintendo είναι η CD Media, από τις 1 Οκτωβρίου του 2016.</p>
</div>
