<div lang="zh-cn">
    <h1 class="title">方舟像素字体 / Ark Pixel Font</h1>
    <p class="content">★ 开源的泛中日韩像素字体 ★</p>
</div>

<p class="content" lang="zh-cn">
    Windows 中文字型范例 1234567890
    <br>
    Innovation in China 中国智造，慧及全球 0123456789
</p>

<p class="content" lang="zh-tr">
    視野無限廣，窗外有藍天
    <br>
    Windows 興國安邦，巨擘八方！
    <br>
    微風迎客，軟語伴茶
</p>

<p class="content" lang="ja">
    Windowsでコンピュータの世界が広がります。 1234567890
</p>

<p class="content" lang="ko">
    다람쥐 헌 쳇바퀴에 타고파. 1234567890
    <br>
    Windows가 지원하는 한글 글꼴 1234567890
</p>

<p class="content" lang="zh-cn">
    汉体书写信息技术标准相容
    <br>
    档案下载使用界面简单
    <br>
    支援服务升级资讯专业制作
    <br>
    创意空间快速无线上网
    <br>
    ㈠㈡㈢㈣㈤㈥㈦㈧㈨㈩
    <br>
    AaBbCc ＡａＢｂＣｃ
</p>

<p class="content" lang="zh-tr">
    壹貳參肆伍陸柒捌玖拾
    <br>
    一二三四五六七八九十卄卅
    <br>
    ㄅㄆㄇㄈㄉㄊㄋㄌㄍㄎㄏㄐ
    <br>
    ㄑㄒㄓㄔㄕㄖㄗㄘㄙㄚㄛ
    <br>
    ㄜㄝㄞㄟㄠㄡㄢㄣㄤㄥㄦㄧㄨㄩ
    <br>
    兙兛兞兝兡兣嗧瓩糎
    <br>
    AaBbCc ＡａＢｂＣｃ
</p>

<p class="content" lang="ja">
    あのイーハトーヴォの
    <br>
    すきとおった風、
    <br>
    夏でも底に冷たさをもつ青いそら、
    <br>
    うつくしい森で飾られたモリーオ市、
    <br>
    郊外のぎらぎらひかる草の波。
    <br>
    祇辻飴葛蛸鯖鰯噌庖箸
    <br>
    ABCDEFGHIJKLM
    <br>
    abcdefghijklm
    <br>
    1234567890
</p>

<p class="content" lang="ko">
    동해물과 백두산이 마르고
    <br>
    닳도록 하느님이 보우하사
    <br>
    天地玄黃宇宙洪荒日月盈仄
    <br>
    ㉠⒝⑶❹あア※♥♪⅜‘”
    <br>
    ABcdEFgh 1234567890
</p>

<p class="content">
    <span lang="en">
        The I Can Eat Glass Project.
    </span>
    <br>
    <span lang="zh-cn">
        我能吞下玻璃而不伤身体。
    </span>
    <br>
    <span lang="zh-tr">
        我能吞下玻璃而不傷身體。
    </span>
</p>

<p class="content" lang="zh-cn">
    氢氦锂铍硼碳氮氧氟氖钠镁铝硅磷硫氯氩钾钙钪钛钒铬锰铁钴镍铜锌镓锗砷硒溴氪铷锶钇锆铌钼锝钌铑钯银镉铟锡锑碲碘氙铯钡镧铈镨钕钷钐铕钆铽镝钬铒铥镱镥铪钽钨铼锇铱铂金汞铊铅铋钋砹氡钫镭锕钍镤铀镎钚镅锔锫锎锿镄钔锘铹𬬻𬭊𬭳𬭛𬭶鿏𫟼𬬭鿔鿭𫓧镆𫟷鿬鿫
</p>

<p class="content" lang="zh-tr">
    氫氦鋰鈹硼碳氮氧氟氖鈉鎂鋁硅磷硫氯氬鉀鈣鈧鈦釩鉻錳鐵鈷鎳銅鋅鎵鍺砷硒溴氪銣鍶釔鋯鈮鉬鍀釕銠鈀銀鎘銦錫銻碲碘氙銫鋇鑭鈰鐠釹鉕釤銪釓鋱鏑鈥鉺銩鐿鑥鉿鉭鎢錸鋨銥鉑金汞鉈鉛鉍釙砹氡鈁鐳錒釷鏷鈾鎿鈈鎇鋦錇鐦鎄鐨鍆鍩鐒鑪𨧀𨭎𨨏𨭆䥑鐽錀鎶鉨鈇鏌鉝鿬鿫
</p>

<p class="content" lang="en">
    ★☆☎☏⚑⚐☀☼♚♛♜♝♞♟♔♕♖♗♘♙♠♡♢♣♤♥♦♧
    <br>
    ☺☹⚓⚔✈☯♂♀♩♪♫♬⇦⇧⇨⇩☜☝☞☟
</p>

<p class="content" lang="en">
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
</p>

<div class="content" lang="zh-cn">
<pre>
◤◢◤◢◤◢◤◢◤◢◤◢◤◢
　　　　　前方高能！
　　非战斗人员请火速撤离！
◤◢◤◢◤◢◤◢◤◢◤◢◤◢
</pre>
</div>

<p class="content" lang="en">
    Ciallo～(∠・ω< )⌒☆
</p>

<p class="content" lang="en">
    ( ◕ ◡ ◕ )
</p>

<div class="content" lang="en">
<pre>
　　　　 ／＞ — フ
　　　　 | 　_　 _|
　　　 ／` ミ＿꒳ノ
　　  /　　　　  |
　　 /　 ヽ　　 ﾉ
　　│　　|　|　|
／￣|　　 |　|　|
| (￣ヽ＿_ヽ_)__)
＼二つ
</pre>
</div>

<div lang="zh-cn">
    <h1 class="title">沁园春·雪</h1>
    <p class="content">毛泽东</p>
    <p class="content">
        北国风光，千里冰封，万里雪飘。
        <br>
        望长城内外，惟余莽莽；大河上下，顿失滔滔。
        <br>
        山舞银蛇，原驰蜡象，欲与天公试比高。
        <br>
        须晴日，看红装素裹，分外妖娆。
        <br>
        江山如此多娇，引无数英雄竞折腰。
        <br>
        惜秦皇汉武，略输文采；唐宗宋祖，稍逊风骚。
        <br>
        一代天骄，成吉思汗，只识弯弓射大雕。
        <br>
        俱往矣，数风流人物，还看今朝。
    </p>
</div>

<div lang="zh-tr">
    <h1 class="title">沁園春·雪</h1>
    <p class="content">毛澤東</p>
    <p class="content">
        北國風光，千里冰封，萬里雪飄。
        <br>
        望長城內外，惟餘莽莽；大河上下，頓失滔滔。
        <br>
        山舞銀蛇，原馳蠟象，欲與天公試比高。
        <br>
        須晴日，看紅裝素裹，分外妖嬈。
        <br>
        江山如此多嬌，引無數英雄競折腰。
        <br>
        惜秦皇漢武，略輸文采；唐宗宋祖，稍遜風騷。
        <br>
        一代天驕，成吉思汗，只識彎弓射大雕。
        <br>
        俱往矣，數風流人物，還看今朝。
    </p>
</div>

<div lang="zh-cn">
    <h1 class="title">沁园春·长沙</h1>
    <p class="content">毛泽东</p>
    <p class="content">
        独立寒秋，湘江北去，橘子洲头。
        <br>
        看万山红遍，层林尽染；漫江碧透，百舸争流。
        <br>
        鹰击长空，鱼翔浅底，万类霜天竞自由。
        <br>
        怅寥廓，问苍茫大地，谁主沉浮？
        <br>
        携来百侣曾游，忆往昔峥嵘岁月稠。
        <br>
        恰同学少年，风华正茂；书生意气，挥斥方遒。
        <br>
        指点江山，激扬文字，粪土当年万户侯。
        <br>
        曾记否，到中流击水，浪遏飞舟？
    </p>
</div>

<div lang="zh-tr">
    <h1 class="title">沁園春·長沙</h1>
    <p class="content">毛澤東</p>
    <p class="content">
        獨立寒秋，湘江北去，橘子洲頭。
        <br>
        看萬山紅遍，層林盡染；漫江碧透，百舸爭流。
        <br>
        鷹擊長空，魚翔淺底，萬類霜天競自由。
        <br>
        悵寥廓，問蒼茫大地，誰主沉浮？
        <br>
        攜來百侶曾遊，憶往昔崢嶸歲月稠。
        <br>
        恰同學少年，風華正茂；書生意氣，揮斥方遒。
        <br>
        指點江山，激揚文字，糞土當年萬戶侯。
        <br>
        曾記否，到中流擊水，浪遏飛舟？
    </p>
</div>

<div lang="zh-cn">
    <h1 class="title">出师表</h1>
    <p class="content">三国·诸葛亮</p>
    <p class="content">先帝创业未半而中道崩殂，今天下三分，益州疲弊，此诚危急存亡之秋也。然侍卫之臣不懈于内，忠志之士忘身于外者，盖追先帝之殊遇，欲报之于陛下也。诚宜开张圣听，以光先帝遗德，恢弘志士之气，不宜妄自菲薄，引喻失义，以塞忠谏之路也。</p>
    <p class="content">宫中府中，俱为一体，陟罚臧否，不宜异同。若有作奸犯科及为忠善者，宜付有司论其刑赏，以昭陛下平明之理，不宜偏私，使内外异法也。</p>
    <p class="content">侍中、侍郎郭攸之、费祎、董允等，此皆良实，志虑忠纯，是以先帝简拔以遗陛下。愚以为宫中之事，事无大小，悉以咨之，然后施行，必能裨补阙漏，有所广益。</p>
    <p class="content">将军向宠，性行淑均，晓畅军事，试用于昔日，先帝称之曰能，是以众议举宠为督。愚以为营中之事，悉以咨之，必能使行阵和睦，优劣得所。</p>
    <p class="content">亲贤臣，远小人，此先汉所以兴隆也；亲小人，远贤臣，此后汉所以倾颓也。先帝在时，每与臣论此事，未尝不叹息痛恨于桓、灵也。侍中、尚书、长史、参军，此悉贞良死节之臣，愿陛下亲之信之，则汉室之隆，可计日而待也。</p>
    <p class="content">臣本布衣，躬耕于南阳，苟全性命于乱世，不求闻达于诸侯。先帝不以臣卑鄙，猥自枉屈，三顾臣于草庐之中，咨臣以当世之事，由是感激，遂许先帝以驱驰。后值倾覆，受任于败军之际，奉命于危难之间，尔来二十有一年矣。</p>
    <p class="content">先帝知臣谨慎，故临崩寄臣以大事也。受命以来，夙夜忧叹，恐托付不效，以伤先帝之明，故五月渡泸，深入不毛。今南方已定，兵甲已足，当奖率三军，北定中原，庶竭驽钝，攘除奸凶，兴复汉室，还于旧都。此臣所以报先帝而忠陛下之职分也。至于斟酌损益，进尽忠言，则攸之、祎、允之任也。</p>
    <p class="content">愿陛下托臣以讨贼兴复之效，不效，则治臣之罪，以告先帝之灵。若无兴德之言，则责攸之、祎、允等之慢，以彰其咎；陛下亦宜自谋，以咨诹善道，察纳雅言，深追先帝遗诏，臣不胜受恩感激。今当远离，临表涕零，不知所言。</p>
</div>

<div lang="zh-tr">
    <h1 class="title">出師表</h1>
    <p class="content">三國·諸葛亮</p>
    <p class="content">先帝創業未半而中道崩殂，今天下三分，益州疲弊，此誠危急存亡之秋也。然侍衞之臣不懈於內，忠志之士忘身於外者，蓋追先帝之殊遇，欲報之於陛下也。誠宜開張聖聽，以光先帝遺德，恢弘志士之氣，不宜妄自菲薄，引喻失義，以塞忠諫之路也。</p>
    <p class="content">宮中府中，俱為一體，陟罰臧否，不宜異同。若有作姦犯科及為忠善者，宜付有司論其刑賞，以昭陛下平明之理，不宜偏私，使內外異法也。</p>
    <p class="content">侍中、侍郎郭攸之、費禕、董允等，此皆良實，志慮忠純，是以先帝簡拔以遺陛下。愚以為宮中之事，事無大小，悉以咨之，然後施行，必能裨補闕漏，有所廣益。</p>
    <p class="content">將軍向寵，性行淑均，曉暢軍事，試用於昔日，先帝稱之曰能，是以眾議舉寵為督。愚以為營中之事，悉以咨之，必能使行陣和睦，優劣得所。</p>
    <p class="content">親賢臣，遠小人，此先漢所以興隆也；親小人，遠賢臣，此後漢所以傾頹也。先帝在時，每與臣論此事，未嘗不歎息痛恨於桓、靈也。侍中、尚書、長史、參軍，此悉貞良死節之臣，願陛下親之信之，則漢室之隆，可計日而待也。</p>
    <p class="content">臣本布衣，躬耕於南陽，苟全性命於亂世，不求聞達於諸侯。先帝不以臣卑鄙，猥自枉屈，三顧臣於草廬之中，諮臣以當世之事，由是感激，遂許先帝以驅馳。後值傾覆，受任於敗軍之際，奉命於危難之間，爾來二十有一年矣。</p>
    <p class="content">先帝知臣謹慎，故臨崩寄臣以大事也。受命以來，夙夜憂歎，恐託付不效，以傷先帝之明，故五月渡瀘，深入不毛。今南方已定，兵甲已足，當獎率三軍，北定中原，庶竭駑鈍，攘除姦凶，興復漢室，還於舊都。此臣所以報先帝而忠陛下之職分也。至於斟酌損益，進盡忠言，則攸之、禕、允之任也。</p>
    <p class="content">願陛下託臣以討賊興復之效，不效，則治臣之罪，以告先帝之靈。若無興德之言，則責攸之、禕、允等之慢，以彰其咎；陛下亦宜自謀，以諮諏善道，察納雅言，深追先帝遺詔，臣不勝受恩感激。今當遠離，臨表涕零，不知所言。</p>
</div>

<div lang="zh-cn">
    <h1 class="title">北风与太阳</h1>
    <p class="content">简体中文</p>
    <p class="content">北风与太阳争论谁更强。这时，他们看见一位披着斗篷的旅人沿路走来。他们约定，谁能让旅人脱下斗篷，谁就算更强。北风先使出全力吹了起来。然而，北风吹得越猛，旅人就把斗篷裹得越紧。最后，北风只好放弃。接着，太阳暖暖地照着旅人，旅人立刻脱下了斗篷。于是，北风不得不承认太阳比自己更强。</p>
</div>

<div lang="zh-tr">
    <h1 class="title">北風與太陽</h1>
    <p class="content">繁體中文</p>
    <p class="content">北風與太陽爭論誰更強。這時，他們看見一位披著斗篷的旅人沿路走來。他們約定，誰能讓旅人脫下斗篷，誰就算更強。北風先使出全力吹了起來。然而，北風吹得越猛，旅人就把斗篷裹得越緊。最後，北風只好放棄。接著，太陽暖暖地照著旅人，旅人立刻脫下了斗篷。於是，北風不得不承認太陽比自己更強。</p>
</div>

<div lang="ja">
    <h1 class="title">北風と太陽</h1>
    <p class="content">日本語</p>
    <p class="content">北風と太陽は、どちらのほうが強いか言い争っていました。そのとき、二人は外套をまとった旅人が道を歩いてくるのを見かけました。そこで、旅人に外套を脱がせたほうを強いと認めることにしました。まず北風が力の限り吹きつけました。しかし、北風が強く吹けば吹くほど、旅人は外套をしっかり体に巻きつけ、ついに北風は諦めました。続いて太陽が暖かく照らすと、旅人はすぐに外套を脱ぎました。こうして北風は、太陽が自分より強いと認めざるを得ませんでした。</p>
</div>

<div lang="ko">
    <h1 class="title">북풍과 태양</h1>
    <p class="content">한국어</p>
    <p class="content">북풍과 태양은 둘 중 누가 더 강한지를 두고 다투고 있었습니다. 그때 둘은 망토를 두른 나그네 한 사람이 길을 따라 걸어오는 것을 보았습니다. 둘은 나그네의 망토를 벗기는 쪽이 더 강하다고 인정하기로 했습니다. 먼저 북풍이 있는 힘껏 불기 시작했습니다. 그러나 북풍이 세게 불면 불수록 나그네는 망토를 더욱 단단히 여몄고, 결국 북풍은 포기하고 말았습니다. 이어서 태양이 따뜻하게 비추자 나그네는 곧바로 망토를 벗었습니다. 그리하여 북풍은 태양이 자신보다 더 강하다는 것을 인정할 수밖에 없었습니다.</p>
</div>

<div lang="en">
    <h1 class="title">The North Wind and the Sun</h1>
    <p class="content">English</p>
    <p class="content">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
    <p class="content">The North Wind and the Sun were arguing about which of them was stronger. Just then, they saw a traveler coming along the road, wrapped in a cloak. They agreed that whoever could make the traveler take off his cloak would be considered the stronger. The North Wind began to blow with all his might. But the harder he blew, the more tightly the traveler wrapped his cloak around himself. At last, the North Wind gave up. Then the Sun shone warmly on the traveler, who immediately took off his cloak. So the North Wind had to admit that the Sun was stronger than he was.</p>
</div>

<div lang="fr">
    <h1 class="title">Le Vent du Nord et le Soleil</h1>
    <p class="content">Français</p>
    <p class="content">Aa Àà Ââ Ææ Bb Cc Çç Dd Ee Èè Éé Êê Ëë Ff Gg Hh Ii Îî Ïï Jj Kk Ll Mm Nn Oo Ôô Œœ Pp Qq Rr Ss Tt Uu Ùù Ûû Üü Vv Ww Xx Yy Ÿÿ Zz</p>
    <p class="content">Le Vent du Nord et le Soleil se disputaient pour savoir lequel des deux était le plus fort. À ce moment-là, ils virent passer sur le chemin un voyageur enveloppé dans un manteau. Ils convinrent que celui qui parviendrait à faire ôter son manteau au voyageur serait considéré comme le plus fort. Le Vent du Nord se mit à souffler de toutes ses forces. Mais plus il soufflait fort, plus le voyageur resserrait son manteau autour de lui. Finalement, le Vent du Nord abandonna. Puis le Soleil se mit à briller sur le voyageur en diffusant une douce chaleur, et celui-ci ôta aussitôt son manteau. Le Vent du Nord dut alors reconnaître que le Soleil était plus fort que lui.</p>
</div>

<div lang="it">
    <h1 class="title">La Tramontana e il Sole</h1>
    <p class="content">Italiano</p>
    <p class="content">Aa Àà Bb Cc Dd Ee Èè Éé Ff Gg Hh Ii Ìì Jj Kk Ll Mm Nn Oo Òò Óó Pp Qq Rr Ss Tt Uu Ùù Vv Ww Xx Yy Zz</p>
    <p class="content">La Tramontana e il Sole discutevano su chi dei due fosse più forte. Proprio allora videro passare per la strada un viandante avvolto in un mantello. Convennero che chi fosse riuscito a far togliere il mantello al viandante sarebbe stato considerato il più forte. La Tramontana cominciò a soffiare con tutte le sue forze. Ma quanto più forte soffiava, tanto più il viandante si stringeva il mantello addosso. Alla fine, la Tramontana si arrese. Poi il Sole cominciò a splendere sul viandante, diffondendo un piacevole tepore, e il viandante si tolse subito il mantello. Così la Tramontana dovette ammettere che il Sole era più forte di lei.</p>
</div>

<div lang="de">
    <h1 class="title">Der Nordwind und die Sonne</h1>
    <p class="content">Deutsch</p>
    <p class="content">Aa Ää Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Öö Pp Qq Rr Ss ẞß Tt Uu Üü Vv Ww Xx Yy Zz</p>
    <p class="content">Der Nordwind und die Sonne stritten darüber, wer von ihnen stärker sei. Da sahen sie einen Reisenden des Weges kommen, der in einen Umhang gehüllt war. Sie vereinbarten, dass derjenige als der Stärkere gelten sollte, der den Reisenden dazu bringen würde, seinen Umhang abzulegen. Der Nordwind begann mit aller Kraft zu blasen. Doch je heftiger er blies, desto enger hüllte sich der Reisende in seinen Umhang. Schließlich gab der Nordwind auf. Darauf ließ die Sonne ihre warmen Strahlen auf den Reisenden scheinen, und der Reisende legte seinen Umhang sofort ab. Da musste der Nordwind zugeben, dass die Sonne stärker war als er selbst.</p>
</div>

<div lang="es">
    <h1 class="title">El Viento del Norte y el Sol</h1>
    <p class="content">Español</p>
    <p class="content">Aa Áá Bb Cc Dd Ee Éé Ff Gg Hh Ii Íí Jj Kk Ll Mm Nn Ññ Oo Óó Pp Qq Rr Ss Tt Uu Úú Üü Vv Ww Xx Yy Zz</p>
    <p class="content">El Viento del Norte y el Sol discutían sobre cuál de los dos era más fuerte. En ese momento vieron acercarse por el camino a un viajero envuelto en una capa. Acordaron que quien lograra que el viajero se quitara la capa sería considerado el más fuerte. El Viento del Norte comenzó a soplar con todas sus fuerzas. Pero cuanto más fuerte soplaba, más se apretaba el viajero la capa contra el cuerpo. Al final, el Viento del Norte se dio por vencido. Entonces el Sol comenzó a brillar suavemente y a calentar al viajero, que se quitó la capa de inmediato. Así, el Viento del Norte tuvo que admitir que el Sol era más fuerte que él.</p>
</div>

<div lang="ca">
    <h1 class="title">La Tramuntana i el Sol</h1>
    <p class="content">Català</p>
    <p class="content">Aa Àà Bb Cc Çç Dd Ee Èè Éé Ff Gg Hh Ii Íí Ïï Jj Kk Ll Mm Nn Oo Òò Óó Pp Qq Rr Ss Tt Uu Úú Üü Vv Ww Xx Yy Zz</p>
    <p class="content">La Tramuntana i el Sol discutien sobre quin dels dos era més fort. Just aleshores van veure un viatger que avançava pel camí, embolcallat amb una capa. Van acordar que considerarien més fort qui aconseguís que el viatger es tragués la capa. La Tramuntana va començar a bufar amb totes les seves forces. Però com més fort bufava, més estretament s’ajustava el viatger la capa al cos. Finalment, la Tramuntana es va donar per vençuda. Aleshores el Sol va escalfar suaument el viatger amb els seus raigs, i aquest es va treure la capa de seguida. Així, la Tramuntana va haver de reconèixer que el Sol era més fort que ella.</p>
</div>

<div lang="pt-pt">
    <h1 class="title">O Vento Norte e o Sol</h1>
    <p class="content">Português (Portugal)</p>
    <p class="content">Aa Àà Áá Ââ Ãã Bb Cc Çç Dd Ee Éé Êê Ff Gg Hh Ii Íí Jj Kk Ll Mm Nn Oo Óó Ôô Õõ Pp Qq Rr Ss Tt Uu Úú Vv Ww Xx Yy Zz</p>
    <p class="content">O Vento Norte e o Sol discutiam sobre qual dos dois era mais forte. Nesse momento, viram passar pela estrada um viajante envolto numa capa. Combinaram que quem conseguisse fazer o viajante tirar a capa seria considerado o mais forte. O Vento Norte começou a soprar com todas as suas forças. Mas, quanto mais forte soprava, mais o viajante apertava a capa contra o corpo. Por fim, o Vento Norte desistiu. Então o Sol começou a brilhar suavemente e a aquecer o viajante, que tirou imediatamente a capa. Assim, o Vento Norte teve de admitir que o Sol era mais forte do que ele.</p>
</div>

<div lang="pt-br">
    <h1 class="title">O Vento Norte e o Sol</h1>
    <p class="content">Português (Brasil)</p>
    <p class="content">Aa Àà Áá Ââ Ãã Bb Cc Çç Dd Ee Éé Êê Ff Gg Hh Ii Íí Jj Kk Ll Mm Nn Oo Óó Ôô Õõ Pp Qq Rr Ss Tt Uu Úú Vv Ww Xx Yy Zz</p>
    <p class="content">O Vento Norte e o Sol discutiam qual dos dois era mais forte. Nesse momento, viram um viajante envolto em uma capa passar pela estrada. Combinaram que quem conseguisse fazer o viajante tirar a capa seria considerado o mais forte. O Vento Norte começou a soprar com toda a sua força. Mas, quanto mais forte soprava, mais o viajante apertava a capa contra o corpo. Por fim, o Vento Norte desistiu. Então o Sol começou a brilhar suavemente e a aquecer o viajante, que logo tirou a capa. Assim, o Vento Norte teve que admitir que o Sol era mais forte do que ele.</p>
</div>

<div lang="nl">
    <h1 class="title">De Noordenwind en de Zon</h1>
    <p class="content">Nederlands</p>
    <p class="content">Aa Àà Áá Ää Bb Cc Çç Dd Ee Èè Éé Êê Ëë Ff Gg Hh Ii Íí Ïï Jj Kk Ll Mm Nn Ññ Oo Óó Öö Pp Qq Rr Ss Tt Uu Úú Üü Vv Ww Xx Yy Zz</p>
    <p class="content">De Noordenwind en de Zon twistten over wie van hen sterker was. Op dat moment zagen ze een reiziger over de weg aankomen, gehuld in een mantel. Ze spraken af dat degene die de reiziger ertoe kon brengen zijn mantel uit te trekken, als de sterkere zou gelden. De Noordenwind begon uit alle macht te blazen. Maar hoe harder hij blies, hoe steviger de reiziger zijn mantel om zich heen sloeg. Uiteindelijk gaf de Noordenwind het op. Toen begon de Zon warm op de reiziger te schijnen, en die trok onmiddellijk zijn mantel uit. Zo moest de Noordenwind toegeven dat de Zon sterker was dan hijzelf.</p>
</div>

<div lang="da">
    <h1 class="title">Nordenvinden og Solen</h1>
    <p class="content">Dansk</p>
    <p class="content">Aa Bb Cc Dd Ee Éé Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz Ææ Øø Åå</p>
    <p class="content">Nordenvinden og Solen stredes om, hvem af dem der var stærkest. Netop da så de en rejsende komme gående ad vejen, svøbt i en kappe. De aftalte, at den, der kunne få den rejsende til at tage kappen af, skulle regnes for den stærkeste. Nordenvinden begyndte at blæse af al kraft. Men jo kraftigere han blæste, desto tættere trak den rejsende kappen omkring sig. Til sidst måtte Nordenvinden give op. Derefter lod Solen sine varme stråler skinne på den rejsende, som straks tog kappen af. Så måtte Nordenvinden indrømme, at Solen var stærkere end han selv.</p>
</div>

<div lang="nb">
    <h1 class="title">Nordavinden og Solen</h1>
    <p class="content">Norsk bokmål</p>
    <p class="content">Aa Àà Bb Cc Dd Ee Éé Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Òò Óó Ôô Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz Ææ Øø Åå</p>
    <p class="content">Nordavinden og Solen diskuterte hvem av dem som var sterkest. Akkurat da fikk de øye på en reisende som kom langs veien, svøpt i en kappe. De ble enige om at den som klarte å få den reisende til å ta av seg kappen, skulle regnes som den sterkeste. Nordavinden begynte å blåse av all kraft. Men jo hardere den blåste, desto tettere trakk den reisende kappen rundt seg. Til slutt måtte Nordavinden gi opp. Da skinte Solen varmt på den reisende, som straks tok av seg kappen. Dermed måtte Nordavinden innrømme at Solen var sterkere enn den selv.</p>
</div>

<div lang="sv">
    <h1 class="title">Nordanvinden och Solen</h1>
    <p class="content">Svenska</p>
    <p class="content">Aa Bb Cc Dd Ee Éé Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz Åå Ää Öö</p>
    <p class="content">Nordanvinden och Solen tvistade om vem av dem som var starkast. Just då såg de en resande komma längs vägen, insvept i en mantel. De kom överens om att den som kunde få den resande att ta av sig manteln skulle räknas som den starkaste. Nordanvinden började blåsa med all sin kraft. Men ju hårdare han blåste, desto tätare svepte den resande manteln om sig. Till slut fick Nordanvinden ge upp. Därefter lät Solen sina varma strålar skina på den resande, som genast tog av sig manteln. Då måste Nordanvinden medge att Solen var starkare än han själv.</p>
</div>

<div lang="fi">
    <h1 class="title">Pohjoistuuli ja Aurinko</h1>
    <p class="content">Suomi</p>
    <p class="content">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Šš Tt Uu Vv Ww Xx Yy Zz Žž Åå Ää Öö</p>
    <p class="content">Pohjoistuuli ja Aurinko väittelivät siitä, kumpi heistä oli voimakkaampi. Samassa he näkivät tietä pitkin kulkevan matkalaisen, joka oli kietoutunut viittaansa. He sopivat, että voimakkaammaksi katsottaisiin se, joka saisi matkalaisen riisumaan viittansa. Pohjoistuuli alkoi puhaltaa kaikin voimin. Mutta mitä kovempaa se puhalsi, sitä tiukemmin matkalainen kietoi viitan ympärilleen. Lopulta Pohjoistuuli luovutti. Sitten Aurinko alkoi paistaa lämpimästi, ja matkalainen riisui heti viittansa. Niin Pohjoistuulen oli myönnettävä, että Aurinko oli sitä voimakkaampi.</p>
</div>

<div lang="is">
    <h1 class="title">Norðanvindurinn og Sólin</h1>
    <p class="content">Íslenska</p>
    <p class="content">Aa Áá Bb Dd Ðð Ee Éé Ff Gg Hh Ii Íí Jj Kk Ll Mm Nn Oo Óó Pp Rr Ss Tt Uu Úú Vv Xx Yy Ýý Þþ Ææ Öö</p>
    <p class="content">Norðanvindurinn og Sólin deildu um hvort þeirra væri sterkara. Einmitt þá sáu þau ferðalang koma eftir veginum, sveipaðan kápu. Þau komu sér saman um að það þeirra sem gæti fengið ferðalanginn til að fara úr kápunni skyldi teljast sterkara. Norðanvindurinn tók að blása af öllum mætti. En því fastar sem hann blés, þeim mun þéttar vafði ferðalangurinn kápunni að sér. Að lokum gafst Norðanvindurinn upp. Þá skein Sólin hlýlega á ferðalanginn og hann fór samstundis úr kápunni. Norðanvindurinn varð því að viðurkenna að Sólin væri sterkari en hann.</p>
</div>

<div lang="pl">
    <h1 class="title">Północny Wiatr i Słońce</h1>
    <p class="content">Polski</p>
    <p class="content">Aa Ąą Bb Cc Ćć Dd Ee Ęę Ff Gg Hh Ii Jj Kk Ll Łł Mm Nn Ńń Oo Óó Pp Rr Ss Śś Tt Uu Ww Yy Zz Źź Żż</p>
    <p class="content">Północny Wiatr i Słońce spierali się, które z nich jest silniejsze. Wtedy zobaczyli idącego drogą wędrowca otulonego płaszczem. Umówili się, że silniejsze okaże się to z nich, któremu uda się skłonić wędrowca do zdjęcia płaszcza. Najpierw Północny Wiatr zaczął wiać z całych sił. Jednak im mocniej wiał, tym szczelniej wędrowiec otulał się płaszczem. W końcu Północny Wiatr musiał się poddać. Następnie Słońce zaczęło ciepło ogrzewać wędrowca, a ten natychmiast zdjął płaszcz. Wtedy Północny Wiatr musiał przyznać, że Słońce jest od niego silniejsze.</p>
</div>

<div lang="cs">
    <h1 class="title">Severní vítr a Slunce</h1>
    <p class="content">Čeština</p>
    <p class="content">Aa Áá Bb Cc Čč Dd Ďď Ee Éé Ěě Ff Gg Hh Ii Íí Jj Kk Ll Mm Nn Ňň Oo Óó Pp Qq Rr Řř Ss Šš Tt Ťť Uu Úú Ůů Vv Ww Xx Yy Ýý Zz Žž</p>
    <p class="content">Severní vítr a Slunce se přeli o to, kdo z nich je silnější. Vtom spatřili po cestě se blížícího poutníka zahaleného do pláště. Dohodli se, že za silnějšího bude považován ten, komu se podaří přimět poutníka, aby si plášť svlékl. Nejprve začal Severní vítr foukat ze všech sil. Čím prudčeji však foukal, tím těsněji si poutník ovíjel plášť kolem těla. Nakonec musel Severní vítr svůj pokus vzdát. Poté začalo Slunce poutníka příjemně hřát a poutník si plášť okamžitě svlékl. Severní vítr tak musel uznat, že Slunce je silnější než on.</p>
</div>

<div lang="sk">
    <h1 class="title">Severný vietor a Slnko</h1>
    <p class="content">Slovenčina</p>
    <p class="content">Aa Áá Ää Bb Cc Čč Dd Ďď Ee Éé Ff Gg Hh Ii Íí Jj Kk Ll Ĺĺ Ľľ Mm Nn Ňň Oo Óó Ôô Pp Qq Rr Ŕŕ Ss Šš Tt Ťť Uu Úú Vv Ww Xx Yy Ýý Zz Žž</p>
    <p class="content">Severný vietor a Slnko sa hádali, kto z nich je silnejší. Práve vtedy uvideli po ceste prichádzať pútnika zahaleného do plášťa. Dohodli sa, že za silnejšieho bude považovaný ten, komu sa podarí prinútiť pútnika, aby si plášť vyzliekol. Severný vietor začal fúkať zo všetkých síl. Čím silnejšie však fúkal, tým tesnejšie si pútnik ovíjal plášť okolo tela. Napokon sa Severný vietor vzdal. Potom Slnko začalo pútnika príjemne zohrievať a ten si plášť okamžite vyzliekol. Severný vietor tak musel uznať, že Slnko je silnejšie než on.</p>
</div>

<div lang="hu">
    <h1 class="title">Az Északi Szél és a Nap</h1>
    <p class="content">Magyar</p>
    <p class="content">Aa Áá Bb Cc Dd Ee Éé Ff Gg Hh Ii Íí Jj Kk Ll Mm Nn Oo Óó Öö Őő Pp Qq Rr Ss Tt Uu Úú Üü Űű Vv Ww Xx Yy Zz</p>
    <p class="content">Az Északi Szél és a Nap azon vitatkozott, melyikük az erősebb. Ekkor megláttak egy köpenybe burkolózott utazót az úton közeledni. Megegyeztek abban, hogy azt tekintik erősebbnek, akinek sikerül levetetnie az utazóval a köpenyét. Először az Északi Szél kezdett teljes erejéből fújni. Minél erősebben fújt, az utazó annál szorosabban vonta maga köré a köpenyét. Végül az Északi Szél kénytelen volt feladni. Ezután a Nap melegen sütött az utazóra, aki azonnal levette a köpenyét. Így az Északi Szél kénytelen volt elismerni, hogy a Nap erősebb nála.</p>
</div>

<div lang="hr">
    <h1 class="title">Sjeverni vjetar i Sunce</h1>
    <p class="content">Hrvatski</p>
    <p class="content">Aa Bb Cc Čč Ćć Dd Đđ Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Rr Ss Šš Tt Uu Vv Zz Žž</p>
    <p class="content">Sjeverni vjetar i Sunce prepirali su se tko je od njih jači. Upravo tada ugledali su putnika kako dolazi cestom, ogrnut plaštem. Dogovorili su se da će jačim biti proglašen onaj tko uspije navesti putnika da skine plašt. Sjeverni vjetar počeo je puhati svom snagom. No što je jače puhao, putnik je sve čvršće omatao plašt oko sebe. Na kraju je Sjeverni vjetar odustao. Tada je Sunce toplo obasjalo putnika i on je smjesta skinuo plašt. Tako je Sjeverni vjetar morao priznati da je Sunce jače od njega.</p>
</div>

<div lang="sl">
    <h1 class="title">Severni veter in Sonce</h1>
    <p class="content">Slovenščina</p>
    <p class="content">Aa Bb Cc Čč Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Rr Ss Šš Tt Uu Vv Zz Žž</p>
    <p class="content">Severni veter in Sonce sta se prepirala, kateri od njiju je močnejši. Prav tedaj sta zagledala popotnika, ki je prihajal po cesti, zavit v plašč. Dogovorila sta se, da bo za močnejšega veljal tisti, ki bo pripravil popotnika do tega, da sleče plašč. Severni veter je začel pihati z vso močjo. Toda močneje ko je pihal, tesneje je popotnik ovijal plašč okoli sebe. Nazadnje je Severni veter odnehal. Nato je Sonce toplo posijalo na popotnika in ta je plašč takoj slekel. Tako je moral Severni veter priznati, da je Sonce močnejše od njega.</p>
</div>

<div lang="et">
    <h1 class="title">Põhjatuul ja Päike</h1>
    <p class="content">Eesti</p>
    <p class="content">Aa Bb Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Rr Ss Šš Zz Žž Tt Uu Vv Õõ Ää Öö Üü</p>
    <p class="content">Põhjatuul ja Päike vaidlesid selle üle, kumb neist on tugevam. Just siis nägid nad mööda teed tulevat rändurit, kes oli mantlisse mähitud. Nad leppisid kokku, et tugevamaks peetakse seda, kes suudab panna ränduri mantlit seljast võtma. Põhjatuul hakkas puhuma kõigest jõust. Kuid mida tugevamini ta puhus, seda tihedamalt tõmbas rändur mantli enda ümber. Viimaks andis Põhjatuul alla. Siis paistis Päike rändurile soojalt peale ja too võttis kohe mantli seljast. Nii pidi Põhjatuul tunnistama, et Päike on temast tugevam.</p>
</div>

<div lang="lv">
    <h1 class="title">Ziemeļvējš un Saule</h1>
    <p class="content">Latviešu</p>
    <p class="content">Aa Āā Bb Cc Čč Dd Ee Ēē Ff Gg Ģģ Hh Ii Īī Jj Kk Ķķ Ll Ļļ Mm Nn Ņņ Oo Pp Rr Ss Šš Tt Uu Ūū Vv Zz Žž</p>
    <p class="content">Ziemeļvējš un Saule strīdējās, kurš no viņiem ir stiprāks. Tieši tad viņi ieraudzīja pa ceļu nākam ceļinieku, kurš bija ietinies apmetnī. Viņi vienojās, ka par stiprāko tiks atzīts tas, kurš panāks, lai ceļinieks novelk apmetni. Ziemeļvējš sāka pūst no visa spēka. Taču, jo stiprāk viņš pūta, jo ciešāk ceļinieks ietinās apmetnī. Beidzot Ziemeļvējš padevās. Tad Saule silti apspīdēja ceļinieku, un viņš tūlīt novilka apmetni. Tā Ziemeļvējam nācās atzīt, ka Saule ir stiprāka par viņu.</p>
</div>

<div lang="lt">
    <h1 class="title">Šiaurės vėjas ir Saulė</h1>
    <p class="content">Lietuvių</p>
    <p class="content">Aa Ąą Bb Cc Čč Dd Ee Ęę Ėė Ff Gg Hh Ii Įį Yy Jj Kk Ll Mm Nn Oo Pp Rr Ss Šš Tt Uu Ųų Ūū Vv Zz Žž</p>
    <p class="content">Šiaurės vėjas ir Saulė ginčijosi, kuris iš jų stipresnis. Kaip tik tada jie pamatė keliu ateinantį keliautoją, apsisiautusį apsiaustu. Jie susitarė, kad stipresniu bus laikomas tas, kuriam pavyks priversti keliautoją nusivilkti apsiaustą. Šiaurės vėjas ėmė pūsti iš visų jėgų. Tačiau kuo smarkiau jis pūtė, tuo tvirčiau keliautojas glaudė apsiaustą prie savęs. Galiausiai Šiaurės vėjas pasidavė. Tada Saulė ėmė šiltai šviesti keliautojui, ir jis tuoj pat nusivilko apsiaustą. Taigi Šiaurės vėjui teko pripažinti, kad Saulė už jį stipresnė.</p>
</div>

<div lang="ro">
    <h1 class="title">Vântul de Nord și Soarele</h1>
    <p class="content">Română</p>
    <p class="content">Aa Ăă Ââ Bb Cc Dd Ee Ff Gg Hh Ii Îî Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Șș Tt Țț Uu Vv Ww Xx Yy Zz</p>
    <p class="content">Vântul de Nord și Soarele se certau care dintre ei era mai puternic. Chiar atunci au văzut un călător trecând pe drum, înfășurat într-o mantie. Au hotărât să-l socotească mai puternic pe cel care avea să-l facă pe călător să-și scoată mantia. Mai întâi, Vântul de Nord a început să sufle din toate puterile. Însă, cu cât sufla mai tare, cu atât călătorul își strângea mai bine mantia în jurul trupului. În cele din urmă, Vântul de Nord a renunțat. Apoi Soarele l-a încălzit blând pe călător, iar acesta și-a scos imediat mantia. Astfel, Vântul de Nord a trebuit să recunoască faptul că Soarele era mai puternic decât el.</p>
</div>

<div lang="tr">
    <h1 class="title">Kuzey Rüzgârı ile Güneş</h1>
    <p class="content">Türkçe</p>
    <p class="content">Aa Ââ Bb Cc Çç Dd Ee Ff Gg Ğğ Hh Iı İi Îî Jj Kk Ll Mm Nn Oo Öö Pp Rr Ss Şş Tt Uu Ûû Üü Vv Yy Zz</p>
    <p class="content">Kuzey Rüzgârı ile Güneş hangisinin daha güçlü olduğunu tartışıyorlardı. Tam o sırada pelerine bürünmüş bir yolcunun yolda yaklaştığını gördüler. Yolcuya pelerinini çıkartmayı başaranın daha güçlü sayılmasına karar verdiler. Önce Kuzey Rüzgârı var gücüyle esmeye başladı. Ne kadar şiddetli estiyse yolcu da pelerinine o kadar sıkı sarıldı. Sonunda Kuzey Rüzgârı pes etti. Ardından Güneş sıcak ışınlarını yolcunun üzerine yaymaya başlayınca yolcu pelerinini hemen çıkardı. Böylece Kuzey Rüzgârı, Güneş’in kendisinden daha güçlü olduğunu kabul etmek zorunda kaldı.</p>
</div>

<div lang="ru">
    <h1 class="title">Северный Ветер и Солнце</h1>
    <p class="content">Русский</p>
    <p class="content">Аа Бб Вв Гг Дд Ее Ёё Жж Зз Ии Йй Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ъъ Ыы Ьь Ээ Юю Яя</p>
    <p class="content">Северный Ветер и Солнце спорили о том, кто из них сильнее. Как раз тогда они увидели приближающегося по дороге путника, закутанного в плащ. Они условились, что сильнее будет считаться тот, кто сумеет заставить путника снять плащ. Сначала Северный Ветер подул изо всех сил. Но чем сильнее он дул, тем плотнее путник закутывался в плащ. В конце концов Северный Ветер сдался. Затем Солнце стало ласково пригревать путника, и тот тут же снял плащ. Так Северному Ветру пришлось признать, что Солнце сильнее его.</p>
</div>

<div lang="be">
    <h1 class="title">Паўночны Вецер і Сонца</h1>
    <p class="content">Беларуская</p>
    <p class="content">Аа Бб Вв Гг Дд Ее Ёё Жж Зз Іі Йй Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Ўў Фф Хх Цц Чч Шш Ыы Ьь Ээ Юю Яя</p>
    <p class="content">Паўночны Вецер і Сонца спрачаліся, хто з іх мацнейшы. Якраз тады яны ўбачылі падарожніка, які ішоў па дарозе, захінуўшыся ў плашч. Яны дамовіліся, што мацнейшым будзе лічыцца той, хто здолее прымусіць падарожніка зняць плашч. Паўночны Вецер пачаў дзьмуць з усяе сілы. Але чым мацней ён дзьмуў, тым шчыльней падарожнік захінаўся ў плашч. Нарэшце Паўночны Вецер здаўся. Тады Сонца цёпла засвяціла на падарожніка, і той адразу зняў плашч. Так Паўночнаму Ветру давялося прызнаць, што Сонца мацнейшае за яго.</p>
</div>

<div lang="uk">
    <h1 class="title">Північний Вітер і Сонце</h1>
    <p class="content">Українська</p>
    <p class="content">Аа Бб Вв Гг Ґґ Дд Ее Єє Жж Зз Ии Іі Її Йй Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ьь Юю Яя</p>
    <p class="content">Північний Вітер і Сонце сперечалися, хто з них сильніший. Саме тоді вони побачили мандрівника, що йшов дорогою, закутавшись у плащ. Вони домовилися, що сильнішим вважатиметься той, кому вдасться спонукати мандрівника зняти плащ. Спочатку Північний Вітер подув щосили. Але що дужче він дув, то щільніше мандрівник кутався в плащ. Зрештою Північному Вітрові довелося здатися. Потім Сонце почало лагідно пригрівати мандрівника, і той одразу зняв плащ. Тож Північному Вітрові довелося визнати, що Сонце сильніше за нього.</p>
</div>

<div lang="el">
    <h1 class="title">Ο Βοριάς και ο Ήλιος</h1>
    <p class="content">Ελληνικά</p>
    <p class="content">Αα Άά Ββ Γγ Δδ Εε Έέ Ζζ Ηη Ήή Θθ Ιι Ίί Ϊϊ ΐ Κκ Λλ Μμ Νν Ξξ Οο Όό Ππ Ρρ Σσς Ττ Υυ Ύύ Ϋϋ ΰ Φφ Χχ Ψψ Ωω Ώώ</p>
    <p class="content">Ο Βοριάς και ο Ήλιος φιλονικούσαν για το ποιος από τους δύο ήταν δυνατότερος. Εκείνη τη στιγμή είδαν έναν ταξιδιώτη, τυλιγμένο στον μανδύα του, να πλησιάζει στον δρόμο. Συμφώνησαν πως όποιος κατάφερνε να κάνει τον ταξιδιώτη να βγάλει τον μανδύα του θα θεωρούνταν δυνατότερος. Πρώτος ο Βοριάς άρχισε να φυσά με όλη του τη δύναμη. Όσο πιο δυνατά φυσούσε, τόσο πιο σφιχτά τυλιγόταν ο ταξιδιώτης στον μανδύα του. Στο τέλος, ο Βοριάς αναγκάστηκε να εγκαταλείψει την προσπάθεια. Ύστερα ο Ήλιος άρχισε να ζεσταίνει τον ταξιδιώτη με τις ακτίνες του και εκείνος έβγαλε αμέσως τον μανδύα του. Έτσι, ο Βοριάς αναγκάστηκε να παραδεχτεί πως ο Ήλιος ήταν δυνατότερος από τον ίδιο.</p>
</div>
