{% extends "common/base.html" %}
{% block title %}Ark Pixel - Demo {{ font_config.font_size }}px{% endblock %}
{% block style %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        {% for width_mode in width_modes %}
        {% for locale, language_flavor in locale_to_language_flavor.items() %}
        {% with font_family = 'ark-pixel-' ~ font_config.font_size ~ 'px-' ~ width_mode ~ '-' ~ language_flavor %}
        @font-face {
            font-family: {{ font_family }};
            src: url("{{ font_family }}.woff2?r={{ build_random_key }}");
        }
        .font-{{ width_mode }} :lang({{ locale }}) {
            font-family: {{ font_family }}, sans-serif;
        }
        {% endwith %}
        {% endfor %}
        {% endfor %}
        {% if font_config.font_size != 12 %}
        {% with font_family = 'ark-pixel-12px-monospaced-latin' %}
        @font-face {
            font-family: {{ font_family }};
            src: url("{{ font_family }}.woff2?r={{ build_random_key }}");
        }
        {% endwith %}
        {% endif %}
        .theme-light {
            color: #4b4b4b;
            background-color: white;
        }
        .theme-dark {
            color: white;
            background-color: #4b4b4b;
        }
        {% for width_mode in width_modes %}
        .theme-light .font-{{ width_mode }} .char-notdef-{{ width_mode }} {
            color: #f83737;
        }
        .theme-dark .font-{{ width_mode }} .char-notdef-{{ width_mode }} {
            color: #ffd339;
        }
        {% endfor %}
        a {
            word-break: break-all;
        }
        a:link {
            color: cornflowerblue;
        }
        a:visited {
            color: cornflowerblue;
        }
        .options-group {
            height: 36px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #ffd339;
        }
        .option {
            height: 100%;
            margin-left: 24px;
            margin-right: 24px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #4b4b4b;
            font-family: ark-pixel-12px-monospaced-latin, sans-serif;
            font-size: 24px;
            line-height: 36px;
        }
        .option input[type="radio"] {
            display: none;
        }
        .option input[type="radio"] + span {
            width: 10px;
            height: 10px;
            margin-left: 12px;
            margin-right: 12px;
            border-width: 2px;
            border-color: #4b4b4b;
            border-style: solid;
        }
        .option input[type="radio"]:checked + span {
            background-color: #4b4b4b;
        }
        .btn-apply-theme {
            position: fixed;
            width: 48px;
            height: 48px;
            cursor: pointer;
        }
        #page {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 64px 192px;
        }
        @media screen and (max-width: 1006px) {
            #page {
                width: 750px;
                padding-left: 64px;
                padding-right: 64px;
            }
        }
        @media screen and (max-width: 750px) {
            #page {
                width: 100%;
                padding-left: 64px;
                padding-right: 64px;
            }
        }
        .title {
            margin-top: {{ font_config.font_size * 4 }}px;
            margin-bottom: {{ font_config.font_size * 2 }}px;
            font-size: {{ font_config.font_size * 3 }}px;
            font-weight: normal;
            line-height: {{ font_config.line_height * 3 }}px;
        }
        .content {
            margin-top: {{ font_config.font_size * 2 }}px;
            margin-bottom: {{ font_config.font_size * 2 }}px;
            font-size: {{ font_config.font_size * 2 }}px;
            line-height: {{ font_config.line_height * 2 }}px;
        }
    </style>
{% endblock %}
{% block body %}
    <form class="options-group">
        {% for width_mode in width_modes %}
        <label class="option">
            <input id="radio-width-mode-{{ width_mode }}" name="width_mode" type="radio" onchange="onWidthModeChange('{{ width_mode }}')">
            <span></span>
            {{ width_mode }}
        </label>
        {% endfor %}
    </form>
    <div class="btn-apply-theme theme-light" style="top: 36px; left: 0;" onclick="onThemeChange('light')"></div>
    <div class="btn-apply-theme theme-dark" style="top: 36px; right: 0;" onclick="onThemeChange('dark')"></div>
    <div id="page">
        {{ content_html }}
    </div>
    <script>
        let page = document.getElementById('page')

        let settings = {
            widthMode: 'proportional',
            theme: 'light',
        }

        function applySettings() {
            localStorage.setItem('settings:demo-{{ font_config.font_size }}px', JSON.stringify(settings))
            page.className = 'font-' + settings.widthMode
            document.body.className = 'theme-' + settings.theme
        }

        function onWidthModeChange(widthMode) {
            settings.widthMode = widthMode
            applySettings()
        }

        function onThemeChange(theme) {
            settings.theme = theme
            applySettings()
        }

        let json = localStorage.getItem('settings:demo-{{ font_config.font_size }}px')
        if (json) {
            Object.assign(settings, JSON.parse(json))
        }
        document.getElementById('radio-width-mode-' + settings.widthMode).checked = true
        applySettings()
    </script>
{% endblock %}
