{% extends "common/base.html" %}
{% block title %}Ark Pixel - Demo {{ font_config.px }}px{% endblock %}
{% block style %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        {% for width_mode in configs.width_modes %}
        {% for locale, language_specific in configs.locale_map.items() %}
        {% with font_family = 'Ark-Pixel-' ~ font_config.px ~ 'px-' ~ width_mode ~ '-' ~ language_specific %}
        @font-face {
            font-family: {{ font_family }};
            src: url("{{ font_config.get_font_file_name(width_mode, language_specific, 'woff2') }}?r={{ configs.build_random_key }}");
        }
        .font-{{ width_mode }} :lang({{ locale }}) {
            font-family: {{ font_family }}, sans-serif;
        }
        {% endwith %}
        {% endfor %}
        {% endfor %}
        {% if font_config.px != 12 %}
        @font-face {
            font-family: Ark-Pixel-12px-monospaced-latin;
            src: url("{{ configs.font_config_map[12].get_font_file_name('monospaced', 'latin', 'woff2') }}?r={{ configs.build_random_key }}");
        }
        {% endif %}
        .theme-light {
            color: #4b4b4b;
            background-color: white;
        }
        .theme-dark {
            color: white;
            background-color: #4b4b4b;
        }
        {% for width_mode in configs.width_modes %}
        .theme-light .font-{{ width_mode }} .char-notdef-{{ width_mode }} {
            color: #f83737;
        }
        .theme-dark .font-{{ width_mode }} .char-notdef-{{ width_mode }} {
            color: #ffd339;
        }
        {% endfor %}
        a {
            word-break: break-all;
        }
        a:link {
            color: cornflowerblue;
        }
        a:visited {
            color: cornflowerblue;
        }
        .options-group {
            height: 36px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #ffd339;
        }
        .option {
            height: 100%;
            margin-left: 24px;
            margin-right: 24px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #4b4b4b;
            font-family: Ark-Pixel-12px-monospaced-latin, sans-serif;
            font-size: 24px;
            line-height: 36px;
        }
        .option input[type="radio"] {
            display: none;
        }
        .option input[type="radio"] + span {
            width: 10px;
            height: 10px;
            margin-left: 12px;
            margin-right: 12px;
            border-width: 2px;
            border-color: #4b4b4b;
            border-style: solid;
        }
        .option input[type="radio"]:checked + span {
            background-color: #4b4b4b;
        }
        .btn-apply-theme {
            position: fixed;
            width: 48px;
            height: 48px;
            cursor: pointer;
        }
        #page {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 64px 192px;
        }
        @media screen and (max-width: 1006px) {
            #page {
                width: 750px;
                padding-left: 64px;
                padding-right: 64px;
            }
        }
        @media screen and (max-width: 750px) {
            #page {
                width: 100%;
                padding-left: 64px;
                padding-right: 64px;
            }
        }
        .title {
            margin-top: {{ font_config.px * 4 }}px;
            margin-bottom: {{ font_config.px * 2 }}px;
            font-size: {{ font_config.px * 3 }}px;
            font-weight: normal;
            line-height: {{ font_config.display_line_height_px * 3 }}px;
        }
        .content {
            margin-top: {{ font_config.px * 2 }}px;
            margin-bottom: {{ font_config.px * 2 }}px;
            font-size: {{ font_config.px * 2 }}px;
            line-height: {{ font_config.display_line_height_px * 2 }}px;
        }
    </style>
{% endblock %}
{% block body %}
    <form class="options-group">
        {% for width_mode in configs.width_modes %}
        <label class="option">
            <input name="width_mode" type="radio" {{ 'checked' if width_mode == 'proportional' else '' }} onclick="applyWidthMode('{{ width_mode }}');">
            <span></span>
            {{ width_mode }}
        </label>
        {% endfor %}
    </form>
    <div class="btn-apply-theme theme-light" style="top: 36px; left: 0;" onclick="document.body.className = 'theme-light';"></div>
    <div class="btn-apply-theme theme-dark" style="top: 36px; right: 0;" onclick="document.body.className = 'theme-dark';"></div>
    <div id="page" class="font-proportional">
        {{ content_html }}
    </div>
    <script>
        document.body.className = 'theme-light';

        var page = document.getElementById('page');

        function applyWidthMode(widthMode) {
            page.className = 'font-' + widthMode;
        }
    </script>
{% endblock %}
